
<div class="mb-6">
    <h2 class="text-2xl font-bold text-white">UFO Research Team</h2>
</div>

<div class="text-gray-300 space-y-3 mb-8">
    <p>Do you want to join our research team?.</p>
    <p>We have several collaborators that publish their research in the form of articles on our site. In the navigation menu you can see a tab called "Articles".</p>
    <p>If you want to publish your research and findings and share them with the whole world, create your account on our site, create your articles and show the world what you know.</p>
</div>

<div class="flex flex-col md:flex-row gap-6">

    <div class="flex-1 bg-gray-800/60 border border-gray-700 rounded-lg p-6">
        <h3 class="text-xl font-semibold text-[#D7DF21] mb-4">Log in</h3>
        <%= form_tag sessions_path do %>
          <div class="mb-4">
            <%= label_tag :username, nil, class: "block text-sm font-medium text-gray-300 mb-1" %>
            <%= text_field_tag :username, params[:username], class: "w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded text-white focus:outline-none focus:border-[#D7DF21]" %>
          </div>
          <div class="mb-4">
            <%= label_tag :password, nil, class: "block text-sm font-medium text-gray-300 mb-1" %>
            <%= password_field_tag :password, nil, class: "w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded text-white focus:outline-none focus:border-[#D7DF21]" %>
          </div>
          <div><%= submit_tag "Log in", class: "px-6 py-2 bg-[#D7DF21] text-gray-900 font-semibold rounded hover:bg-[#c5cd1e] transition cursor-pointer" %></div>
        <% end %>


           <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, :id => "flash#{name}", :class => "mt-3 bg-red-900/50 border border-red-700 text-red-300 px-4 py-3 rounded" %>
            <% end %>

  </div>

   <div class="flex-1 bg-gray-800/60 border border-gray-700 rounded-lg p-6">
        <h3 class="text-xl font-semibold text-[#D7DF21] mb-4">Sign up</h3>

        <%= form_for @user do |f| %>

            <div class="mb-4">
              <%= f.label :username, nil, class: "block text-sm font-medium text-gray-300 mb-1" %>
              <%= f.text_field :username, class: "w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded text-white focus:outline-none focus:border-[#D7DF21]" %>
            </div>
            <div class="mb-4">
              <%= f.label :password, nil, class: "block text-sm font-medium text-gray-300 mb-1" %>
              <%= f.password_field :password, class: "w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded text-white focus:outline-none focus:border-[#D7DF21]" %>
            </div>
            <div class="mb-4">
              <%= f.label :password_confirmation, nil, class: "block text-sm font-medium text-gray-300 mb-1" %>
              <%= f.password_field :password_confirmation, class: "w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded text-white focus:outline-none focus:border-[#D7DF21]" %>
            </div>
            <div class="mb-4">
              <% if ENV['RECAPTCHA_SITE_KEY'].present? %>
            <%= recaptcha_tags %>
          <% else %>
            <p class="text-[#D7DF21]/60 text-sm">[reCAPTCHA disabled]</p>
          <% end %>
              <div class="caja-text"><span class="text-red-500"><%= flash[:recaptcha_error] %></span></div>
            </div>
            <div><%= submit_tag "Sign up", class: "px-6 py-2 bg-[#D7DF21] text-gray-900 font-semibold rounded hover:bg-[#c5cd1e] transition cursor-pointer" %></div>

        <% end %>

         <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, :id => "flash#{name}", :class => "mt-3 bg-red-900/50 border border-red-700 text-red-300 px-4 py-3 rounded" %>
            <% end %>


  </div>

</div>


<div class="mt-5 mb-5">
  <%= render partial: 'common/ads/horizontal_ad' %>
</div>
