
<div class="row">
    <div class="span12">
      <h2>UFO Resarch Team</h2>
    </div>
</div>


<div class="row">
    <div class="span12">
         <p>Do you want to join our research team?.</p>
         <p>We have several collaborators that publish their research in the form of articles on our site. In the navigation menu you can see a tab called "Articles".</p>
         <p>If you want to publish your research and findings and share them with the whole world, create your account on our site, create your articles and show the world what you know.</p>
    </div>
</div>


<div class="row">

    <div class="span5 well">
        <h3>Log in</h3>
        <%= form_tag sessions_path do %>
          <div class="field">
            <%= label_tag :username %>
            <%= text_field_tag :username, params[:username] %>
          </div>
          <div class="field">
            <%= label_tag :password %>
            <%= password_field_tag :password %>
          </div>
          <div class="actions"><%= submit_tag "Log in" %></div>
        <% end %>

           
           <% flash.each do |name, msg| %>  
              <%= content_tag :div, msg, :id => "flash#{name}" %>  
            <% end %> 
         
  </div>

   <div class="span5 well">
        <h3>Sign up</h3>
       
       <%= form_for @user do |f| %>
         
            <div class="field">
              <%= f.label :username %>
              <%= f.text_field :username %>
            </div>
            <div class="field">
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation %>
            </div>
            <div class="field">
                  <%= show_simple_captcha(:label => "")%>
                  <div class="caja-text"><span class="divrojo"><%=@notice%></span></div>
            </div>
            <div class="actions"><%= submit_tag "Sign up" %></div>

        <% end %>

         <% flash.each do |name, msg| %>  
              <%= content_tag :div, msg, :id => "flash#{name}" %>  
            <% end %> 
  </div>

</div>



<div class="row" style="margin-top: 20px;margin-bottom: 20px">
  <%= render partial: 'common/ads/horizontal_ad' %>
</div>
