
<%
cache("about/content") do
%>
<div class="row">
		<div class="span12">
 			<h2>About UFO Hunters</h2>
 		</div>
</div>

<div class="row">
		<div class="span12">
			<blockquote>
				<p>An unidentified flying object, or UFO, in its most general definition, is any apparent anomaly in the sky (or near or on the ground, but observed hovering, landing, or departing into the sky) that is not readily identifiable as any known object or phenomenon by visual observation and/or use of associated instrumentation such as radar. These anomalies were referred to popularly as "flying saucers" or "flying discs" during the late 1940s and early 1950s."</p>
				<small>Wikipedia definition of UFO</small>
			</blockquote>
		</div>
</div>

<div class="row">
		<div class="span12">
         <p>That is the wikipedia's definition of Unidentified Flying Object. <strong>ufo-hunters.com</strong> collects a huge data set of sightings all over the world. Our main purpose is to collaborate spreading <strong>objective UFO data</strong>. We thank the work of organizations such as <a href="http://www.nuforc.org/" target="_blank">NUFORC</a> and <a href="http://www.mufon.com/" target="_blank">MUFON</a> that collect and investigate sighting reports and are a source of inspiration for us.</p>
		</div>
</div>

<div class="row">
		<div class="span12">
			<h3>Who's behind ufo-hunters.com ?</h3>
 		</div>
</div>

<div class="row collab">
 		<div class="span3">
 			<%= image_tag("fjfdepedro.jpg", class: "img-circle main-collab-pic") %>
 		</div>
 		<div class="span3">
      <div class="collab-inner">
      	<h4>Francisco Jos&eacute; Fern&aacute;ndez de Pedro</h4>
      	<p>Co-Founder / Developer / Data Analyst</p>
      	<div class="collab-icons-row">
      		<a class="collab-icon-link" href="http://twitter.com/pakikipuntoes" target="_blank"><i class="icon-twitter collab"></i></a>
      		<a class="collab-icon-link" href="http://www.linkedin.com/in/fjfdepedro" target="_blank"><i class="icon-linkedin collab"></i></a>
      		<a class="collab-icon-link" href="https://github.com/fjfdepedro" target="_blank"><i class="icon-github collab"></i></a>
          <a class="collab-icon-link" href="mailto:ufohunterscom@gmail.com"><i class="icon-envelope collab"></i></a>
      	</div>
      </div>
 		</div>
    <div class="span3">
 			<%= image_tag("jcgperez.jpg", class: "img-circle main-collab-pic") %>
 		</div>
 		<div class="span3">
 			<div class="collab-inner">
      	<h4>Jos&eacute; Carlos Garc&iacute;a P&eacute;rez</h4>
      	<p>Co-Founder / Developer / Data Analyst</p>
      	<div class="collab-icons-row">
      		<a class="collab-icon-link" href="http://twitter.com/jcgpz" target="_blank"><i class="icon-twitter collab"></i></a>
      		<a class="collab-icon-link" href="http://es.linkedin.com/in/jcgperez/" target="_blank"><i class="icon-linkedin collab"></i></a>
      		<a class="collab-icon-link" href="http://www.github.com/jcarlosgarcia" target="_blank"><i class="icon-github collab"></i></a>
          <a class="collab-icon-link" href="mailto:ufohunterscom@gmail.com"><i class="icon-envelope collab"></i></a>
      	</div>
      </div>
 		</div>

</div>

<div class="row">
		<div class="span12">
 			<p>Behind <strong>ufo-hunters.com</strong> there are two enthusiast guys of both extraterrestrial life and new technologies. Our first purpose was to collaborate in the dissemination of UFO Data as we found the large data set available at infochimps.com: <a href="http://www.infochimps.com/datasets/60000-documented-ufo-sightings-with-text-descriptions-and-metada" target="_blank">60,000+ DOCUMENTED UFO SIGHTINGS WITH TEXT DESCRIPTIONS AND METADATA"</a></p>
 		</div>
</div>

<div class="row">
		<div class="span12">
 			<p>Our secondary purpose was to experiment with new technologies, and had the challenge to publish this project to production in a few weeks. At this point we know we chose the best possible stack and are proud to claim that all the resources and technologies we used are open source.</p>
 		</div>
</div>

<div class="row">
    <div class="span12">
      <p>Currently we are focused in the analysis of all these reports trying to get insight from the data.</p>
    </div>
</div>

<div class="row">
    <div class="span12">
      <h3>Collaborators</h3>
    </div>
</div>

<div class="row collab">
    <div class="span3">
      <%= image_tag("jlgarcia.jpg", class: "img-circle collab-pic") %>
    </div>
    <div class="span9">
      <div class="collab-inner">
        <h4>Jos&eacute; Luis Garc&iacute;a</h4>
        <p>Visual Designer</p>
        <div class="collab-icons-row">
          <a class="collab-icon-link" href="https://dribbble.com/lefthandedgraphic" target="_blank"><i class="icon-dribbble collab"></i></a>
          <a class="collab-icon-link" href="http://www.linkedin.com/pub/jose-luis-garcia/2/23b/b3b" target="_blank"><i class="icon-linkedin collab"></i></a>
          <a class="collab-icon-link" href="http://instagram.com/lefthandedgraphic" target="_blank"><i class="icon-instagram collab"></i></a>
        </div>
        <p><strong>Jos&eacute; Luis</strong> kindly designed our logo, images, icons and a lot more... he gave <strong>ufo-hunters.com</strong> an indentity.</p>
        <p>Using his own words, Jos&eacute; Luis is <cite>"just a lucky person in love with my family and my work. I’ve always been a Visual Designer. Everywhere I look, I see design and taste. I’m an essence searcher who admires simplicity. That’s why Design is essential for me, since it ‘s the ultimate expression and shape of everything."</cite></p>
        <p>Jos&eacute; Luis can also be contacted at <%= link_to("lefthandedgraphic.com", "http://lefthandedgraphic.com/", :target => "_blank")  %>
      </div>
    </div>
</div>

<div class="row collab">
    <div class="span3">
      <%= image_tag("artc.jpg", class: "img-circle collab-pic") %>
    </div>
    <div class="span9">
      <div class="collab-inner">
        <h4>Art Champoux</h4>
        <p>UFO Investigator</p>
        <div class="collab-icons-row">
          <a class="collab-icon-link" href="mailto:artchampoux@gmail.com"><i class="icon-envelope collab"></i></a>
        </div>
        <p><strong>Art Champoux</strong> has been an UFO investigator since 1964. He has worked with <strong>Ray Fowler</strong>, <strong>Walter Webb</strong>, <strong>John Keel</strong>, and a lady that he cannot name, as well as several different UFO groups.</p>
        <p>In the 1960s he collaborated with <strong>APRO</strong>, <strong>CAPER</strong>, <strong>NIACP</strong>, being an investigator when the Aerial Phenomena Research Organisation (APRO) was very prominent in the UFO investigating business. Now he collaborates with <strong>MUFON</strong>.</p>
        <p>The world of the paranormal has always fascinated him, even as a small boy he went through some eerie happenings. His Great Grandmother was a Spirit medium,  so maybe he inherited some kind of a special connection with the paranormal. He has written articles for several publications and his leanings are much like John Keel's. He believes there is an ultra-force, not from outer space, but much like John Keel's ideas or even Jacques Vallees' contention...<cite>"We are but one dimension out of many that reign on this planet"</cite>.</p>
        <p>You can email Art at <a href="mailto:artchampoux@gmail.com">artchampoux@gmail.com</a>.</p>
      </div>
    </div>
</div>

<div class="row collab">
    <div class="span3">
      <%= image_tag("pshishis.jpg", class: "img-circle collab-pic") %>
    </div>
    <div class="span9">
      <div class="collab-inner">
        <h4>Paul Shishis</h4>
        <p>UFO Hunter</p>
        <div class="collab-icons-row">
          <a class="collab-icon-link" href="http://ca.linkedin.com/pub/paul-shishis/61/433/ba8/es" target="_blank"><i class="icon-linkedin collab"></i></a>
          <a class="collab-icon-link" href="mailto:paul.shishis@sympatico.ca"><i class="icon-envelope collab"></i></a>
        </div>
        <p><strong>Paul Shishis</strong> has been experiencing contact with ETs and UFOs for some time in <strong>Canada</strong>.</p>
        <p>He has been viewing and capturing both pictures and videos of UFOs in <strong>Ontario</strong>, Canada, for many years.</p>
        <p>He thinks <cite>"It is now time in my life to step forward to help bring awareness to the citizens of the world that indeed there are higher forces surrounding us all. I mainly stand for love and peace which has been missed for 1000's of years. There is indeed an alien presences amongst this planet and I feel it a duty to humanity in the sharing of truth and justice for free will of our birthright."</cite></p>
        <p>Paul Shishis can be contacted at <a href="mailto:paul.shishis@sympatico.ca">paul.shishis@sympatico.ca</a>
      </div>
    </div>
</div>

<div class="row collab">
    <div class="span3">
      <%= image_tag("cmball.jpg", class: "img-circle collab-pic") %>
    </div>
    <div class="span9">
      <div class="collab-inner">
        <h4>Courtney Ball</h4>
        <p>UFO Enthusiast</p>
        <div class="collab-icons-row">
          <a class="collab-icon-link" href="http://twitter.com/courtneyMball" target="_blank"><i class="icon-twitter collab"></i></a>
          <a class="collab-icon-link" href="mailto:ballcourtney@icloud.com"><i class="icon-envelope collab"></i></a>
        </div>
        <p><strong>Courtney</strong> is a UFO enthusiast interested in the many UFO sightings reported in <strong>Ohio</strong>.</p>
        <p>Courtney is currently investigating the UFO activity in Ohio over the past decades, feel free to contact her at <a href="mailto:ballcourtney@icloud.com">ballcourtney@icloud.com</a></p>
      </div>
    </div>
</div>

<div class="row collab">
    <div class="span3">
      <%= image_tag("etessier.jpg", class: "img-circle collab-pic") %>
    </div>
    <div class="span9">
      <div class="collab-inner">
        <h4>Éric Tessier</h4>
        <p>UFO Hunter</p>
        <div class="collab-icons-row">
          <a class="collab-icon-link" href="https://www.facebook.com/quebecufohunter" target="_blank"><i class="icon-facebook collab"></i></a>
          <a class="collab-icon-link" href="mailto:quebecufohunter@gmail.com"><i class="icon-envelope collab"></i></a>
        </div>
        <p><strong>Éric</strong> has been curious about UFO a good part of his life, now he has created a team, <a href="https://www.facebook.com/quebecufohunter" target="_blank" title="Quebec UFO Hunter" alt="Quebec UFO Hunter">"Quebec UFO Hunter"</a>, based in the <strong>Great Montreal Area</strong>, Canada.</p>
        <p>Curieux depuis plusieurs année sur les ovnis, maintenant j ai creé un groupe <a href="https://www.facebook.com/quebecufohunter" target="_blank" title="Quebec UFO Hunter" alt="Quebec UFO Hunter">"Quebec UFO Hunter"</a>, basé dans la région de Montréal.</p>
        <p>You can contact Éric both in French or English at <a href="mailto:quebecufohunter@gmail.com">quebecufohunter@gmail.com</a></p>
      </div>
    </div>
</div>

<div class="row collab">
    <div class="span3">
      <%= image_tag("muphart.jpg", class: "img-polaroid collab-pic") %>
    </div>
    <div class="span9">
      <div class="collab-inner">
        <h4>MUPHART</h4>
        <p>MA UFO Hunting Group</p>
        <div class="collab-icons-row">
          <a class="collab-icon-link" href="https://www.facebook.com/massufo" target="_blank"><i class="icon-facebook collab"></i></a>
          <a class="collab-icon-link" href="https://www.youtube.com/user/Blackplague222" target="_blank"><i class="icon-youtube collab"></i></a>
          <a class="collab-icon-link" href="http://massufo.blogspot.com" target="_blank"><i class="icon-external-link collab"></i></a>
        </div>
        <p><strong>MUPHART (Massachussets Unknown Phenomena Hunting and Research Team)</strong> is a UFO hunting group from the <strong>Boston Area, MA</strong>. Since 2009 it has been looking for UFO's after its founder, Damian, saw several in a short time span.</p>
        <p>Since 2013 it has caught many UFO's on film, and posted many ufo footage videos on its <a href="https://www.youtube.com/user/Blackplague222" target="_blank" title="MUPHART UFO Hunting Group Channel" alt="MUPHART UFO Hunting Group Channel">youtube channel</a>.</p>
        <p>Damian from MUPHART films the night sky with a digital camcorder every monday night looking for UFO's. Most of the time nothing is seen. But every once and a while something weird gets on camera. Entire investigations into the night sky are filmed on MUPHART's UFO channel once a week. Check them out there.</p>
      </div>
    </div>
</div>

<div class="row">
    <div class="span12">
      <h3>Get involved</h3>
    </div>
</div>

<div class="row">
    <div class="span12">
      <p>There are many ways to contribute to <strong>ufo-hunters.com</strong> and the UFO community. You may collect UFO reports, join a UFO organization such as MUFON or NUFORC, or ellaborate an article to share your story if you witnessed a UFO or had an encounter.</p>
      <p>If you are a UFO investigator and want to share your work, just send us a doc or link and we will publish it <%= link_to("here", {:controller => "articles"})%>.</p>
      <p>If there's some other way you'd like to contribute, feel free to <a href="mailto:ufohunterscom@gmail.com">contact us!</a> Thanks for your interest!</p>
    </div>
</div>

<div class="row">
		<div class="span12">
			<h3>How did we build ufo-hunters.com ?</h3>
 		</div>
</div>

<div class="row">
    <div class="span12">
      <p>All the UFO data we collect is regularly imported into a <strong>NoSQL</strong> database called <a href="http://www.mongodb.org/">MongoDB</a>, with geospatial "2dsphere" indexes that considerably ease all the stuff with coordinates and geolocation.</p>
    </div>
</div>

<div class="row">
		<div class="span12">
 			<p>We also used some resources available at <a href="http://www.freecsstemplates.org/preview/puzzled/">freeCSStemplates.org</a></p>
 		</div>
</div>

<div class="row">
		<div class="span12">
 			<p>This site is built with an incredibly powerful web framework called <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>, that uses the <a href="http://www.ruby-lang.org" target="_blank">most eloquent and elegant programming language</a> we've ever used.</p>
 		</div>
</div>

<div class="row">
		<div class="span12">
 			<p>Some of the images in this site are available at <a href="http://www.openclipart.org" target="_blank">OpenClipArt.org</a></p>
 		</div>
</div>

<div class="row">
		<div class="span12">
 			<p>We've applied lots of javascript resources, such as the well known <a href="http://jquery.com/" target="_blank">jQuery</a>, <a href="http://caroufredsel.dev7studios.com/" target="_blank">jQuery.carouFredSel</a> "a plugin that turns any kind of HTML element into a carousel", and <a href="http://d3js.org/" target="_blank">D3.js</a> for data-driven documents generation.</p>
 		</div>
</div>

<div class="row">
		<div class="span12">
				<p>The current responsive version of the site has been developed using <a href="http://getbootstrap.com/">Twitter BootStrap</a>.</p>
		</div>
</div>
<% end %>
<div class="row collab">
  <%= render partial: 'common/ads/horizontal_ad' %>
</div>
