
<%
cache("about/content") do
%>

<div class="w-full mb-6">
  <h2 class="text-2xl font-bold text-[#D7DF21]">About UFO Hunters</h2>
</div>

<div class="w-full mb-6">
  <blockquote class="border-l-4 border-[#D7DF21] pl-4 italic text-gray-400">
    <p>An unidentified flying object, or UFO, in its most general definition, is any apparent anomaly in the sky (or near or on the ground, but observed hovering, landing, or departing into the sky) that is not readily identifiable as any known object or phenomenon by visual observation and/or use of associated instrumentation such as radar. These anomalies were referred to popularly as "flying saucers" or "flying discs" during the late 1940s and early 1950s."</p>
    <footer class="text-sm text-gray-500 mt-2">Wikipedia definition of UFO</footer>
  </blockquote>
</div>

<div class="w-full mb-6">
  <p class="text-gray-300">That is the wikipedia's definition of Unidentified Flying Object. <strong class="text-gray-100">ufo-hunters.com</strong> collects a huge data set of sightings all over the world. Our main purpose is to collaborate spreading <strong class="text-gray-100">objective UFO data</strong>. We thank the work of organizations such as <a href="http://www.nuforc.org/" target="_blank" class="text-[#D7DF21] hover:underline">NUFORC</a> and <a href="http://www.mufon.com/" target="_blank" class="text-[#D7DF21] hover:underline">MUFON</a> that collect and investigate sighting reports and are a source of inspiration for us.</p>
</div>

<div class="w-full mb-4">
  <h3 class="text-xl font-bold text-[#D7DF21]">Who's behind ufo-hunters.com ?</h3>
</div>

<div class="flex flex-col md:flex-row gap-6 mb-8 items-start">
  <div class="shrink-0">
    <%= image_tag("fjfdepedro.jpg", class: "rounded-full w-32 h-32 object-cover") %>
  </div>
  <div>
    <h4 class="text-lg font-bold text-gray-100">Francisco Jos&eacute; Fern&aacute;ndez de Pedro</h4>
    <p class="text-gray-400">Co-Founder / Developer / Data Analyst</p>
    <div class="flex gap-3 mt-2">
      <a class="text-gray-400 hover:text-[#D7DF21]" href="http://twitter.com/pjfdepedro" target="_blank"><i class="icon-twitter collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="http://www.linkedin.com/in/fjfdepedro" target="_blank"><i class="icon-linkedin collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="https://github.com/fjfdepedro" target="_blank"><i class="icon-github collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="mailto:ufohunterscom@gmail.com"><i class="icon-envelope collab"></i></a>
    </div>
  </div>
  <div class="shrink-0">
    <%= image_tag("jcgperez.jpg", class: "rounded-full w-32 h-32 object-cover") %>
  </div>
  <div>
    <h4 class="text-lg font-bold text-gray-100">Jos&eacute; Carlos Garc&iacute;a P&eacute;rez</h4>
    <p class="text-gray-400">Co-Founder / Developer / Data Analyst</p>
    <div class="flex gap-3 mt-2">
      <a class="text-gray-400 hover:text-[#D7DF21]" href="http://twitter.com/jcgpz" target="_blank"><i class="icon-twitter collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="http://es.linkedin.com/in/jcgperez/" target="_blank"><i class="icon-linkedin collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="http://www.github.com/jcarlosgarcia" target="_blank"><i class="icon-github collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="mailto:ufohunterscom@gmail.com"><i class="icon-envelope collab"></i></a>
    </div>
  </div>
</div>

<div class="w-full mb-4">
  <h3 class="text-xl font-bold text-[#D7DF21]">Collaborators</h3>
</div>

<%# Jose Luis Garcia %>
<div class="flex flex-col md:flex-row gap-6 mb-8 items-start border-b border-gray-700 pb-8">
  <div class="shrink-0">
    <%= image_tag("jlgarcia.jpg", class: "rounded-full w-24 h-24 object-cover") %>
  </div>
  <div class="flex-1">
    <h4 class="text-lg font-bold text-gray-100">Jos&eacute; Luis Garc&iacute;a</h4>
    <p class="text-gray-400">Visual Designer</p>
    <div class="flex gap-3 mt-2">
      <a class="text-gray-400 hover:text-[#D7DF21]" href="https://dribbble.com/lefthandedgraphic" target="_blank"><i class="icon-dribbble collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="http://www.linkedin.com/pub/jose-luis-garcia/2/23b/b3b" target="_blank"><i class="icon-linkedin collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="http://instagram.com/lefthandedgraphic" target="_blank"><i class="icon-instagram collab"></i></a>
    </div>
    <p class="text-gray-300 mt-3"><strong class="text-gray-100">Jos&eacute; Luis</strong> kindly designed our logo, images, icons and a lot more... he gave <strong class="text-gray-100">ufo-hunters.com</strong> an indentity.</p>
    <p class="text-gray-300 mt-2">Using his own words, Jos&eacute; Luis is <cite class="text-gray-400">"just a lucky person in love with my family and my work. I've always been a Visual Designer. Everywhere I look, I see design and taste. I'm an essence searcher who admires simplicity. That's why Design is essential for me, since it 's the ultimate expression and shape of everything."</cite></p>
    <p class="text-gray-300 mt-2">Jos&eacute; Luis can also be contacted at <%= link_to("lefthandedgraphic.com", "http://lefthandedgraphic.com/", :target => "_blank", class: "text-[#D7DF21] hover:underline") %>
  </div>
</div>

<%# Art Champoux %>
<div class="flex flex-col md:flex-row gap-6 mb-8 items-start border-b border-gray-700 pb-8">
  <div class="shrink-0">
    <%= image_tag("artc.jpg", class: "rounded-full w-24 h-24 object-cover") %>
  </div>
  <div class="flex-1">
    <h4 class="text-lg font-bold text-gray-100">Art Champoux</h4>
    <p class="text-gray-400">UFO Investigator</p>
    <div class="flex gap-3 mt-2">
      <a class="text-gray-400 hover:text-[#D7DF21]" href="mailto:artchampoux@gmail.com"><i class="icon-envelope collab"></i></a>
    </div>
    <p class="text-gray-300 mt-3"><strong class="text-gray-100">Art Champoux</strong> has been an UFO investigator since 1964. He has worked with <strong class="text-gray-100">Ray Fowler</strong>, <strong class="text-gray-100">Walter Webb</strong>, <strong class="text-gray-100">John Keel</strong>, and a lady that he cannot name, as well as several different UFO groups.</p>
    <p class="text-gray-300 mt-2">In the 1960s he collaborated with <strong class="text-gray-100">APRO</strong>, <strong class="text-gray-100">CAPER</strong>, <strong class="text-gray-100">NIACP</strong>, being an investigator when the Aerial Phenomena Research Organisation (APRO) was very prominent in the UFO investigating business. Now he collaborates with <strong class="text-gray-100">MUFON</strong>.</p>
    <p class="text-gray-300 mt-2">The world of the paranormal has always fascinated him, even as a small boy he went through some eerie happenings. His Great Grandmother was a Spirit medium, so maybe he inherited some kind of a special connection with the paranormal. He has written articles for several publications and his leanings are much like John Keel's. He believes there is an ultra-force, not from outer space, but much like John Keel's ideas or even Jacques Vallees' contention...<cite class="text-gray-400">"We are but one dimension out of many that reign on this planet"</cite>.</p>
    <p class="text-gray-300 mt-2">You can email Art at <a href="mailto:artchampoux@gmail.com" class="text-[#D7DF21] hover:underline">artchampoux@gmail.com</a>.</p>
  </div>
</div>

<%# Paul Shishis %>
<div class="flex flex-col md:flex-row gap-6 mb-8 items-start border-b border-gray-700 pb-8">
  <div class="shrink-0">
    <%= image_tag("pshishis.jpg", class: "rounded-full w-24 h-24 object-cover") %>
  </div>
  <div class="flex-1">
    <h4 class="text-lg font-bold text-gray-100">Paul Shishis</h4>
    <p class="text-gray-400">UFO Hunter</p>
    <div class="flex gap-3 mt-2">
      <a class="text-gray-400 hover:text-[#D7DF21]" href="http://ca.linkedin.com/pub/paul-shishis/61/433/ba8/es" target="_blank"><i class="icon-linkedin collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="mailto:paul.shishis@sympatico.ca"><i class="icon-envelope collab"></i></a>
    </div>
    <p class="text-gray-300 mt-3"><strong class="text-gray-100">Paul Shishis</strong> has been experiencing contact with ETs and UFOs for some time in <strong class="text-gray-100">Canada</strong>.</p>
    <p class="text-gray-300 mt-2">He has been viewing and capturing both pictures and videos of UFOs in <strong class="text-gray-100">Ontario</strong>, Canada, for many years.</p>
    <p class="text-gray-300 mt-2">He thinks <cite class="text-gray-400">"It is now time in my life to step forward to help bring awareness to the citizens of the world that indeed there are higher forces surrounding us all. I mainly stand for love and peace which has been missed for 1000's of years. There is indeed an alien presences amongst this planet and I feel it a duty to humanity in the sharing of truth and justice for free will of our birthright."</cite></p>
    <p class="text-gray-300 mt-2">Paul Shishis can be contacted at <a href="mailto:paul.shishis@sympatico.ca" class="text-[#D7DF21] hover:underline">paul.shishis@sympatico.ca</a>
  </div>
</div>

<%# Courtney Ball %>
<div class="flex flex-col md:flex-row gap-6 mb-8 items-start border-b border-gray-700 pb-8">
  <div class="shrink-0">
    <%= image_tag("cmball.jpg", class: "rounded-full w-24 h-24 object-cover") %>
  </div>
  <div class="flex-1">
    <h4 class="text-lg font-bold text-gray-100">Courtney Ball</h4>
    <p class="text-gray-400">UFO Enthusiast</p>
    <div class="flex gap-3 mt-2">
      <a class="text-gray-400 hover:text-[#D7DF21]" href="http://twitter.com/courtneyMball" target="_blank"><i class="icon-twitter collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="mailto:ballcourtney@icloud.com"><i class="icon-envelope collab"></i></a>
    </div>
    <p class="text-gray-300 mt-3"><strong class="text-gray-100">Courtney</strong> is a UFO enthusiast interested in the many UFO sightings reported in <strong class="text-gray-100">Ohio</strong>.</p>
    <p class="text-gray-300 mt-2">Courtney is currently investigating the UFO activity in Ohio over the past decades, feel free to contact her at <a href="mailto:ballcourtney@icloud.com" class="text-[#D7DF21] hover:underline">ballcourtney@icloud.com</a></p>
  </div>
</div>

<%# Eric Tessier %>
<div class="flex flex-col md:flex-row gap-6 mb-8 items-start border-b border-gray-700 pb-8">
  <div class="shrink-0">
    <%= image_tag("etessier.jpg", class: "rounded-full w-24 h-24 object-cover") %>
  </div>
  <div class="flex-1">
    <h4 class="text-lg font-bold text-gray-100">&Eacute;ric Tessier</h4>
    <p class="text-gray-400">UFO Hunter</p>
    <div class="flex gap-3 mt-2">
      <a class="text-gray-400 hover:text-[#D7DF21]" href="https://www.facebook.com/quebecufohunter" target="_blank"><i class="icon-facebook collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="mailto:quebecufohunter@gmail.com"><i class="icon-envelope collab"></i></a>
    </div>
    <p class="text-gray-300 mt-3"><strong class="text-gray-100">&Eacute;ric</strong> has been curious about UFO a good part of his life, now he has created a team, <a href="https://www.facebook.com/quebecufohunter" target="_blank" title="Quebec UFO Hunter" class="text-[#D7DF21] hover:underline">"Quebec UFO Hunter"</a>, based in the <strong class="text-gray-100">Great Montreal Area</strong>, Canada.</p>
    <p class="text-gray-300 mt-2">Curieux depuis plusieurs ann&eacute;e sur les ovnis, maintenant j ai cr&eacute;&eacute; un groupe <a href="https://www.facebook.com/quebecufohunter" target="_blank" title="Quebec UFO Hunter" class="text-[#D7DF21] hover:underline">"Quebec UFO Hunter"</a>, bas&eacute; dans la r&eacute;gion de Montr&eacute;al.</p>
    <p class="text-gray-300 mt-2">You can contact &Eacute;ric both in French or English at <a href="mailto:quebecufohunter@gmail.com" class="text-[#D7DF21] hover:underline">quebecufohunter@gmail.com</a></p>
  </div>
</div>

<%# MUPHART %>
<div class="flex flex-col md:flex-row gap-6 mb-8 items-start border-b border-gray-700 pb-8">
  <div class="shrink-0">
    <%= image_tag("muphart.jpg", class: "border border-gray-600 w-24 h-24 object-cover") %>
  </div>
  <div class="flex-1">
    <h4 class="text-lg font-bold text-gray-100">MUPHART</h4>
    <p class="text-gray-400">MA UFO Hunting Group</p>
    <div class="flex gap-3 mt-2">
      <a class="text-gray-400 hover:text-[#D7DF21]" href="https://www.facebook.com/massufo" target="_blank"><i class="icon-facebook collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="https://www.youtube.com/user/Blackplague222" target="_blank"><i class="icon-youtube collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="http://massufo.blogspot.com" target="_blank"><i class="icon-external-link collab"></i></a>
    </div>
    <p class="text-gray-300 mt-3"><strong class="text-gray-100">MUPHART (Massachussets Unknown Phenomena Hunting and Research Team)</strong> is a UFO hunting group from the <strong class="text-gray-100">Boston Area, MA</strong>. Since 2009 it has been looking for UFO's after its founder, Damian, saw several in a short time span.</p>
    <p class="text-gray-300 mt-2">Since 2013 it has caught many UFO's on film, and posted many ufo footage videos on its <a href="https://www.youtube.com/user/Blackplague222" target="_blank" title="MUPHART UFO Hunting Group Channel" class="text-[#D7DF21] hover:underline">youtube channel</a>.</p>
    <p class="text-gray-300 mt-2">Damian from MUPHART films the night sky with a digital camcorder every monday night looking for UFO's. Most of the time nothing is seen. But every once and a while something weird gets on camera. Entire investigations into the night sky are filmed on MUPHART's UFO channel once a week. Check them out there.</p>
  </div>
</div>

<%# CISU Sardinia %>
<div class="flex flex-col md:flex-row gap-6 mb-8 items-start border-b border-gray-700 pb-8">
  <div class="shrink-0">
    <%= image_tag("cisu_sardinia.jpg", class: "border border-gray-600 w-24 h-24 object-cover") %>
  </div>
  <div class="flex-1">
    <h4 class="text-lg font-bold text-gray-100">CISU SARDINIA</h4>
    <p class="text-gray-400">Centro Italiano Studi Ufologici</p>
    <div class="flex gap-3 mt-2">
      <a class="text-gray-400 hover:text-[#D7DF21]" href="https://www.facebook.com/ufosardegnanews" target="_blank"><i class="icon-facebook collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="https://twitter.com/cisusardegna" target="_blank"><i class="icon-twitter collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="http://www.cisusardegna.it" target="_blank"><i class="icon-external-link collab"></i></a>
    </div>
    <p class="text-gray-300 mt-3"><strong class="text-gray-100">CISU</strong> stands for <strong class="text-gray-100">Centro Italiano Studi Ufologici</strong>. The Italian Center for UFO Studies was founded in 1985, as a merging from three different experiences:</p>
    <ul class="list-disc list-inside text-gray-300 mt-2 space-y-1">
      <li>a dozen former directors of Centro Ufologico Nazionale (CUN)</li>
      <li>UPIAR (Ufo Phenomena International Annual Review) Cooperative members</li>
      <li>Clypeus/Ufologia editorial team</li>
    </ul>
    <p class="text-gray-300 mt-2">CISU is a private, no-profit organization based on volunteer work of its unpaid members.</p>
  </div>
</div>

<%# FindingUFO %>
<div class="flex flex-col md:flex-row gap-6 mb-8 items-start border-b border-gray-700 pb-8">
  <div class="shrink-0">
    <%= image_tag("findingufo.jpg", class: "border border-gray-600 w-24 h-24 object-cover") %>
  </div>
  <div class="flex-1">
    <h4 class="text-lg font-bold text-gray-100">FindingUFO</h4>
    <p class="text-gray-400">All kind of information, news and videos about UFOs, Mysteries and Disclosure.</p>
    <div class="flex gap-3 mt-2">
      <a class="text-gray-400 hover:text-[#D7DF21]" href="https://www.facebook.com/findingufo" target="_blank"><i class="icon-facebook collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="https://twitter.com/findingufo" target="_blank"><i class="icon-twitter collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="http://www.youtube.com/findingufo" target="_blank"><i class="icon-youtube collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="http://www.findingufo.tv/" target="_blank"><i class="icon-external-link collab"></i></a>
    </div>
    <p class="text-gray-300 mt-3">Daily Exclusive #UFO Sightings, Breaking News, Area 51 and Disclosure videos from around the World. The Truth is Coming! #DiscloseNow</p>
  </div>
</div>

<%# UFO Union TV %>
<div class="flex flex-col md:flex-row gap-6 mb-8 items-start border-b border-gray-700 pb-8">
  <div class="shrink-0">
    <%= image_tag("ufounion.png", class: "border border-gray-600 w-24 h-24 object-cover") %>
  </div>
  <div class="flex-1">
    <h4 class="text-lg font-bold text-gray-100">UFO Union TV</h4>
    <p class="text-gray-400"> UFO's | Aliens | Technology | Chemtrails | HAARP | & News Related To Secret Alien Tech Projects</p>
    <div class="flex gap-3 mt-2">
      <a class="text-gray-400 hover:text-[#D7DF21]" href="https://www.facebook.com/pages/Ufo-Union-Tv/540458506083081" target="_blank"><i class="icon-facebook collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="https://twitter.com/ufouniontv" target="_blank"><i class="icon-twitter collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="https://www.youtube.com/user/UfoUnionTv" target="_blank"><i class="icon-youtube collab"></i></a>
      <a class="text-gray-400 hover:text-[#D7DF21]" href="https://plus.google.com/108416160275125280319" target="_blank"><i class="icon-google-plus collab"></i></a>
    </div>
    <p class="text-gray-300 mt-3">UFO Union TV digs and shares Aliens &amp; UFO related stories...</p>
  </div>
</div>

<div class="w-full mb-4">
  <h3 class="text-xl font-bold text-[#D7DF21]">Get involved</h3>
</div>

<div class="w-full mb-6">
  <p class="text-gray-300 mb-2">There are many ways to contribute to <strong class="text-gray-100">ufo-hunters.com</strong> and the UFO community. You may collect UFO reports, join a UFO organization such as MUFON or NUFORC, or ellaborate an article to share your story if you witnessed a UFO or had an encounter.</p>
  <p class="text-gray-300 mb-2">If you are a UFO investigator and want to share your work, just send us a doc or link and we will publish it <%= link_to("here", articles_path, class: "text-[#D7DF21] hover:underline") %>.</p>
  <p class="text-gray-300">If there's some other way you'd like to contribute, feel free to <a href="mailto:ufohunterscom@gmail.com" class="text-[#D7DF21] hover:underline">contact us!</a> Thanks for your interest!</p>
</div>

<div class="w-full mb-4">
  <h3 class="text-xl font-bold text-[#D7DF21]">How did we build ufo-hunters.com ?</h3>
</div>

<div class="w-full space-y-4 mb-6">
  <p class="text-gray-300">All the UFO data we collect is regularly imported into a <strong class="text-gray-100">NoSQL</strong> database called <a href="http://www.mongodb.org/" class="text-[#D7DF21] hover:underline">MongoDB</a>, with geospatial "2dsphere" indexes that considerably ease all the stuff with coordinates and geolocation.</p>
  <p class="text-gray-300">We also used some resources available at <a href="http://www.freecsstemplates.org/preview/puzzled/" class="text-[#D7DF21] hover:underline">freeCSStemplates.org</a></p>
  <p class="text-gray-300">This site is built with an incredibly powerful web framework called <a href="http://rubyonrails.org/" target="_blank" class="text-[#D7DF21] hover:underline">Ruby on Rails</a>, that uses the <a href="http://www.ruby-lang.org" target="_blank" class="text-[#D7DF21] hover:underline">most eloquent and elegant programming language</a> we've ever used.</p>
  <p class="text-gray-300">Some of the images in this site are available at <a href="http://www.openclipart.org" target="_blank" class="text-[#D7DF21] hover:underline">OpenClipArt.org</a></p>
  <p class="text-gray-300">We've applied lots of javascript resources, such as the well known <a href="http://jquery.com/" target="_blank" class="text-[#D7DF21] hover:underline">jQuery</a>, <a href="http://caroufredsel.dev7studios.com/" target="_blank" class="text-[#D7DF21] hover:underline">jQuery.carouFredSel</a> "a plugin that turns any kind of HTML element into a carousel", and <a href="http://d3js.org/" target="_blank" class="text-[#D7DF21] hover:underline">D3.js</a> for data-driven documents generation.</p>
  <p class="text-gray-300">The current responsive version of the site has been developed using <a href="https://tailwindcss.com/" class="text-[#D7DF21] hover:underline">Tailwind CSS</a>.</p>
</div>

<% end %>

<div class="my-5">
  <%= render partial: 'common/ads/horizontal_ad' %>
</div>
