
      

		<script type="text/javascript">
		
			var iconSize = new OpenLayers.Size(22, 22);
		    var iconOffset = new OpenLayers.Pixel(-(iconSize.w / 2), -iconSize.h);
		    var icon = new OpenLayers.Icon("<%= image_path('platillo_verde.png') %>",
		                   iconSize, iconOffset);
		    var zoom, center, currentPopup, map, lyrMarkers;
		    var popupClass = OpenLayers.Class(OpenLayers.Popup.FramedCloud, {
		        "autoSize": true,
		        "minSize": new OpenLayers.Size(300, 50),
		        "maxSize": new OpenLayers.Size(500, 300),
		        "keepInMap": true
		    });
		    var bounds = new OpenLayers.Bounds();
			var ua = navigator.userAgent;
			
		    function addMarker(lng, lat, info) {
		        var pt = new OpenLayers.LonLat(lng, lat).transform(new OpenLayers.Projection("EPSG:4326"),map.getProjectionObject());
		        bounds.extend(pt);
		        var feature = new OpenLayers.Feature(lyrMarkers, pt);
		        feature.closeBox = true;
		        feature.popupClass = popupClass;
		        feature.data.popupContentHTML = info;
		        feature.data.overflow = "auto";
		        var marker = new OpenLayers.Marker(pt, icon.clone());
		        var markerClick = function(evt) {
		            if (currentPopup != null && currentPopup.visible()) {
		                currentPopup.hide();
		            }
		            if (this.popup == null) {
		                this.popup = this.createPopup(this.closeBox);
		                map.addPopup(this.popup);
		                this.popup.show();
		            } else {
		                this.popup.toggle();
		            }
		            currentPopup = this.popup;
		            OpenLayers.Event.stop(evt);
		        };
		       if(ua.match(/iPad/i) || ua.match(/iPhone/i) || ua.match(/webOS/i) || ua.match(/Mobile/i) ){
		        	marker.events.register("touchstart", feature, markerClick);
		    	} else {
	    			marker.events.register("click", feature, markerClick);
		    	}

		        lyrMarkers.addMarker(marker);
		    }
		    function init() {
		        
				     var zoom           = <%=@zoom%>;
				 
				    var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
				    var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
				    var lon  = <%=@coordCountry[0]%>;
				    var lat  = <%=@coordCountry[1]%>;
				    var position = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);
								 
				    map = new OpenLayers.Map("basicMap");
				    var mapnik = new OpenLayers.Layer.OSM();
				    map.addLayer(mapnik);
				 
				    var markers = new OpenLayers.Layer.Markers( "Markers" );
				    map.addLayer(markers);
				    //markers.addMarker(new OpenLayers.Marker(position)); 
		                    
				    lyrMarkers = new OpenLayers.Layer.Markers("Markers");
		            map.addLayer(lyrMarkers);
				    var location = '';
		            <% @listaUFO.each_with_index do |ovni, index| %>
							location = "<%=ovni.location.gsub(/'/, '')%>";
		  			 		addMarker(<%=ovni.coord[0]%>,<%=ovni.coord[1]%>, '<strong>' + location + '</strong><br/><%= format_date ovni.sighted_at %><br/><strong><%= link_to "View sighting", :controller => "sightings", :action => "search", :id => ovni.id, :title => friendly_title(ovni) %></strong>');
				    <% end %>
				              
				    map.setCenter(position, zoom);
				    //map.zoomToMaxExtent();
		
		      }		      
		     
		</script>
	
			    <div class="row">                                                                                                
        			<div class="span12">
			   			<h3>Latest sightings in <%=@nameCountry%></h3><br/>
			   		</div>
			   	</div>

			   	<div class="row">                                                                                                
        			<div class="span12">
        				<div id="basicMap" style="width: 100%; height: 450px;"></div>
        			</div>
			    </div>


			   <% if @listaUFO.empty? == true %>
						<div class="row">                                                                             
        					<div class="span12">
					  			<p><strong>Sorry... we haven't got any sightings reported in <%=@nameCountry%>.<br/>
							If you saw one, please <%= link_to "let us know", :controller => "reports", :action => "new"%>!!</strong></p>
			   				</div>
			   			</div>
			   <% end %>
			    
	   			<% if @listaUFO.empty? == false %>
			   			<div class="row">                                                                              
		        			<div class="span12">
					 		 	<h3>100 latest UFO sightings:</h3>
					 		</div>
				   		</div>
			 	<% end %>
			   
				
            	<div class="row">
						<div class="span8">

								<% 
						     	if @listaUFO
						     	%>	
						     		<div class="" style="margin-top: 20px;margin-bottom: 20px">
						     			
								      			<table class="table table-responsive table-striped">
								      				<thead>
															<tr>
																	<th>Location
																	</th>
																	<th>Sighted on
																	</th>
																	<th>Shape
																	</th>
																	<th>Duration
																	</th>
															</tr>
													</thead>
													<tbody>
											     	<% 
											      	# In order to avoid the same sighting as nearest sighting
											      	@listaUFO.each do |ovni|
												      	
														%>
											    			<tr itemprop="itemListElement" itemscope itemtype="http://schema.org/Article"> 
												         		<td itemprop="name">
												         			<%= link_to ovni.location, :controller => "sightings", :action => "search", :id => ovni.id, :title => friendly_title(ovni) %>
												         		</td>
												         		<td itemprop="dateCreated" content="<%= format_date_microdata ovni.sighted_at %>">
													    			<%= format_date ovni.sighted_at %>
													    		</td>
													    		<td>
													    			<%=ovni.shape%>
												         		</td>
												         		<td>
													    			<%= ovni.duration %>
												         		</td>
															</tr>
													<% 
													end 

													%>
												    </tbody>
												</table>
									</div>
				 				
						     	<%
						        end
						        %>
					    </div>
					    <div class="span4">

					 						<script type="text/javascript"><!--
												google_ad_client = "ca-pub-4760111415025425";
												google_ad_slot = "2708512888";
												google_ad_width = 300;
												google_ad_height = 600;
												//-->
											</script>
												<script type="text/javascript"
												src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
											</script>
					    </div>
	  			</div>
</div> 
