
      

		<script type="text/javascript">
		
			var iconSize = new OpenLayers.Size(22, 22);
		    var iconOffset = new OpenLayers.Pixel(-(iconSize.w / 2), -iconSize.h);
		    var icon = new OpenLayers.Icon("<%= image_path('ufo_marker.png') %>",
		                   iconSize, iconOffset);
		    var zoom, center, currentPopup, map, lyrMarkers;
		    var popupClass = OpenLayers.Class(OpenLayers.Popup.FramedCloud, {
		        "autoSize": true,
		        "minSize": new OpenLayers.Size(300, 50),
		        "maxSize": new OpenLayers.Size(500, 300),
		        "keepInMap": true
		    });
		    var bounds = new OpenLayers.Bounds();
			var ua = navigator.userAgent;
			
		    function addMarker(lng, lat, info) {
		        var pt = new OpenLayers.LonLat(lng, lat).transform(new OpenLayers.Projection("EPSG:4326"),map.getProjectionObject());
		        bounds.extend(pt);
		        var feature = new OpenLayers.Feature(lyrMarkers, pt);
		        feature.closeBox = true;
		        feature.popupClass = popupClass;
		        feature.data.popupContentHTML = info;
		        feature.data.overflow = "auto";
		        var marker = new OpenLayers.Marker(pt, icon.clone());
		        var markerClick = function(evt) {
		            if (currentPopup != null && currentPopup.visible()) {
		                currentPopup.hide();
		            }
		            if (this.popup == null) {
		                this.popup = this.createPopup(this.closeBox);
		                map.addPopup(this.popup);
		                this.popup.show();
		            } else {
		                this.popup.toggle();
		            }
		            currentPopup = this.popup;
		            OpenLayers.Event.stop(evt);
		        };
		        if((ua.match(/iPad/i)) || (ua.match(/iPhone/i)) || (ua.match(/webOS/i))){
		        	marker.events.register("touchstart", feature, markerClick);
		    	} else {
	    			marker.events.register("click", feature, markerClick);
		    	}

		        lyrMarkers.addMarker(marker);
		    }
		    function init() {
		        
				     var zoom           = 4;
				 
				    var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
				    var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
				
		            <% @listaUFO.each_with_index do |ovni, index| %>
							<% if index==0 %>									
								    var lon = <%=ovni.coord[0]%>;
								    var lat = <%=ovni.coord[1]%>;
								    var position = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);
								 
								    map = new OpenLayers.Map("basicMap");
								    var mapnik = new OpenLayers.Layer.OSM();
								    map.addLayer(mapnik);
								 
								    var markers = new OpenLayers.Layer.Markers( "Markers" );
								    map.addLayer(markers);
								    //markers.addMarker(new OpenLayers.Marker(position)); 
						                    
								    lyrMarkers = new OpenLayers.Layer.Markers("Markers");
						            map.addLayer(lyrMarkers);
								    var location = '';
							<% end %>
							location = "<%=ovni.location.gsub(/'/, '')%>";
		  			 		addMarker(<%=ovni.coord[0]%>,<%=ovni.coord[1]%>, '<strong>' + location + '</strong><br/><%if ovni.sighted_at.blank? == false %><%=ovni.sighted_at.to_date.strftime("%A %d. %B %Y")%> <% end%><br/><strong><%= link_to "View sighting", :controller => "sightings", :action => "search", :id => ovni.id %></strong>');
				    <% end %>
				              
				    map.setCenter(position, zoom);
				    //map.zoomToMaxExtent();
		
		      }		      
		     
		</script>
	<div id="site_content">			

	 	<div id="content">
			   <div class="content_item">
			   		<h3>Latest sightings in <%=@namecity%></h3><br/>

					<% if @listaUFO.empty? == true %>
							<h2>Sorry... we haven't got sightings in <%=@namecity%>.<br/>
							If you know someone, you'll send us please! </h2>
					<% else %>
							<div id="basicMap" style="width: 900px; height: 550px;"></div>
					<% end %>
			   </div>
			   <div class="content_item">
			   			<% if @listaUFO.empty? == false %>
					 		 <h2>100 latest UFO sightings</h2> 
					 	<% end %>
			   </div>
				<script type="text/javascript">
                        $(document).ready(function() {
                                $("#foo3").after('<ul id="fooX" />').next().html($("#foo3").html());
								$("#foo3 li:odd").remove();
								$("#fooX li:even").remove();

								$("#foo3").carouFredSel({
									synchronise	: "#fooX",
									scroll		: 1									
								});
								$("#fooX").carouFredSel({
									auto		: false
								});
                        });    
            	</script>
            	<div class="list_carousel">
					<ul id="foo3">
					 <% @listaUFO.each do |ovni| %>
						  <li>						  
								  <strong><%=ovni.location%></strong></br>
								  <%if ovni.sighted_at.blank? == false %> <%=ovni.sighted_at.to_date.strftime("%A %d. %B %Y")%> <% end%></br>
								  <strong><%= link_to "View sighting", :controller => "sightings", :action => "search", :id => ovni.id %></strong>
						  </li>
					 <% end %>	
			   		</ul>
			   		<div class="clearfix"></div>
						<a class="prev" id="foo2_prev" href="#"><span>prev</span></a>
						<a class="next" id="foo2_next" href="#"><span>next</span></a>
					<div class="pagination" id="foo2_pag"></div>
			   	</div>
        </div>
    </div>
</div> 
