
  <%= render partial: 'common/map', locals: {ufo_list: @ufo_list, map_id: 'sightings-map', map_zoom: @zoom, map_center: [@country_coord[1], @country_coord[0]]} %>

          <div class="row">
            <div class="span12">
              <h3>Latest sightings in <%=@country_name%></h3><br/>
            </div>
          </div>

          <div class="row">
            <div class="span12">
              <div id="sightings-map" style="width: 100%; height: 450px;"></div>
            </div>
          </div>
          <div class="row" style="margin-top: 20px;margin-bottom: 20px">
            <%= render partial: 'common/ads/horizontal_ad' %>
          </div>
          <% if @ufo_list.empty? %>
            <div class="row">
              <div class="span12">
                <div class="alert alert-warning">
                  <h2>Sorry... we haven't got any sightings reported in <strong><%=@country_name%></strong></h2>
                  <h3>If you saw a UFO, please <%= link_to "let us know", :controller => "reports", :action => "new"%>!!</h3>
                </div>
              </div>
            </div>
          <% end %>

          <% unless @ufo_list.empty? %>
            <div class="row">
              <div class="span12">
                <h3>Latest UFO sightings in <%=@country_name%>:</h3>
              </div>
            </div>

            <div class="row">
              <%= render partial: 'common/latest_sightings' %>
              <%= render partial: 'common/ads/adaptable3' %>
            </div>
          <% end %>
