
      

		<script type="text/javascript">
		
			var iconSize = new OpenLayers.Size(22, 22);
		    var iconOffset = new OpenLayers.Pixel(-(iconSize.w / 2), -iconSize.h);
		    var icon = new OpenLayers.Icon("<%= image_path('ufo_marker.png') %>",
		                   iconSize, iconOffset);
		    var zoom, center, currentPopup, map, lyrMarkers;
		    var popupClass = OpenLayers.Class(OpenLayers.Popup.FramedCloud, {
		        "autoSize": true,
		        "minSize": new OpenLayers.Size(300, 50),
		        "maxSize": new OpenLayers.Size(500, 300),
		        "keepInMap": true
		    });
		    var bounds = new OpenLayers.Bounds();
		    var ua = navigator.userAgent;	
		    
		    function addMarker(lng, lat, info) {
		        var pt = new OpenLayers.LonLat(lng, lat).transform(new OpenLayers.Projection("EPSG:4326"),map.getProjectionObject());
		        bounds.extend(pt);
		        var feature = new OpenLayers.Feature(lyrMarkers, pt);
		        feature.closeBox = true;
		        feature.popupClass = popupClass;
		        feature.data.popupContentHTML = info;
		        feature.data.overflow = "auto";
		        var marker = new OpenLayers.Marker(pt, icon.clone());
		        var markerClick = function(evt) {
		            if (currentPopup != null && currentPopup.visible()) {
		                currentPopup.hide();
		            }
		            if (this.popup == null) {
		                this.popup = this.createPopup(this.closeBox);
		                map.addPopup(this.popup);
		                this.popup.show();
		            } else {
		                this.popup.toggle();
		            }
		            currentPopup = this.popup;
		            OpenLayers.Event.stop(evt);
		        };		        
		        
		        if((ua.match(/iPad/i)) || (ua.match(/iPhone/i)) || (ua.match(/webOS/i))){
		        	marker.events.register("touchstart", feature, markerClick);
		    	} else {
	    			marker.events.register("click", feature, markerClick);
		    	}

		        lyrMarkers.addMarker(marker);
		    }
		    function init() {
		        
				    var zoom           = 4;
				 
				    var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
				    var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
				
				    var lon = 10.28;
				    var lat = 53.54;
				    var position = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);
				 
				    map = new OpenLayers.Map("basicMap");
				    var mapnik = new OpenLayers.Layer.OSM();
				    map.addLayer(mapnik);
				 
				    var markers = new OpenLayers.Layer.Markers( "Markers" );
				    map.addLayer(markers);
				    //markers.addMarker(new OpenLayers.Marker(position)); 
		                    
				    lyrMarkers = new OpenLayers.Layer.Markers("Markers");
		            map.addLayer(lyrMarkers);
				    var location = '';
		            <% @listaUFO.each do |ovni| %>
						location = "<%=ovni.location.gsub(/'/, '')%>";
		  			 	addMarker(<%=ovni.coord[0]%>,<%=ovni.coord[1]%>, '<strong>' + location + '</strong><br/><%if ovni.sighted_at.blank? == false %><%=ovni.sighted_at.to_date.strftime("%A %d. %B %Y")%> <% end%><br/><strong><%= link_to "View sighting", :controller => "sightings", :action => "search", :id => ovni.id %></strong>');
				    <% end %>
				              
				    map.setCenter(position, zoom);				    
				    //map.zoomToMaxExtent();
		
		      }
		      
		      $(function(){
				
						$("#mostrar").click(function(event) {
							var texto = "CLOSE" ;
							if($("#mostrar").text()=='SHOW') texto = "CLOSE";
							if($("#mostrar").text()=='CLOSE') texto = "SHOW";
							
							event.preventDefault();
							$("#ufolist").slideToggle(5000);
							$("#mostrar").text(texto);
						});						
						
				});
		</script>



	<div id="site_content">			

	 	  <div id="content">
	 			<div class="content_item">
							<h3>Latest sightings in Europe</h3>
							<p>20 latest UFO sightings</p>
						
							<div id="mycarousel">
								<% for i in 0..19 %>
									<div class="sighting_carousel"><strong><%=@listaUFO[i].location%></strong><br/>
									<%if @listaUFO[i].sighted_at.blank? == false %> <%=@listaUFO[i].sighted_at.to_date.strftime("%A %d. %B %Y")%> <% end%><br/>
									<strong><%= link_to "View sighting", :controller => "sightings", :action => "search", :id => @listaUFO[i].id %></strong>
									</div>
								<% end %>
							</div>
					   </div>
			   <div class="content_item">
					<div id="basicMap" style="width: 900px; height: 550px;"></div>
			   </div>
			   
          </div>
        
        
    </div>
</div> 
