
      

		<script type="text/javascript">
		
		    var iconSize = new OpenLayers.Size(22, 22);
		    var iconOffset = new OpenLayers.Pixel(-(iconSize.w / 2), -iconSize.h);
		    var icon = new OpenLayers.Icon("<%= image_path('ufo_marker.png') %>",
		                   iconSize, iconOffset);
		    var zoom, center, currentPopup, map, lyrMarkers;
		    var popupClass = OpenLayers.Class(OpenLayers.Popup.FramedCloud, {
		        "autoSize": true,
		        "minSize": new OpenLayers.Size(300, 50),
		        "maxSize": new OpenLayers.Size(500, 300),
		        "keepInMap": true
		    });
		    var bounds = new OpenLayers.Bounds();
		    var ua = navigator.userAgent;
			
		    function addMarker(lng, lat, info) {
		        var pt = new OpenLayers.LonLat(lng, lat).transform(new OpenLayers.Projection("EPSG:4326"),map.getProjectionObject());
		        bounds.extend(pt);
		        var feature = new OpenLayers.Feature(lyrMarkers, pt);
		        feature.closeBox = true;
		        feature.popupClass = popupClass;
		        feature.data.popupContentHTML = info;
		        feature.data.overflow = "auto";
		        var marker = new OpenLayers.Marker(pt, icon.clone());
		        var markerClick = function(evt) {
		            if (currentPopup != null && currentPopup.visible()) {
		                currentPopup.hide();
		            }
		            if (this.popup == null) {
		                this.popup = this.createPopup(this.closeBox);
		                map.addPopup(this.popup);
		                this.popup.show();
		            } else {
		                this.popup.toggle();
		            }
		            currentPopup = this.popup;
		            OpenLayers.Event.stop(evt);
		        };
		        
		        var clickEvent = "click";

		        if(ua.match(/iPad/i) || ua.match(/iPhone/i) || ua.match(/webOS/i) || ua.match(/Mobile/i) ){
		        	clickEvent = "touchstart";
		    	  }
	    		
	    		  marker.events.register(clickEvent, feature, markerClick);
		    	
		        
		        lyrMarkers.addMarker(marker);
		    }
		    function init() {
		        
				     var zoom           = 1;
				 
				    var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
				    var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
				
				
				    var position = new OpenLayers.Bounds()//      = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);
				 
				    map = new OpenLayers.Map("basicMap");
				    var mapnik = new OpenLayers.Layer.OSM();
				    map.addLayer(mapnik);
				 
				    var markers = new OpenLayers.Layer.Markers( "Markers" );
				    map.addLayer(markers);
				    markers.addMarker(new OpenLayers.Marker(position)); 
		                    
				    lyrMarkers = new OpenLayers.Layer.Markers("Markers");
		            map.addLayer(lyrMarkers);
					var location = '';
		            <% @listaUFO.each do |ovni| 
		                  begin
		            %>
						         location = "<%=ovni.location%>";
		  			 	         addMarker(<%=ovni.coord[0]%>,<%=ovni.coord[1]%>, '<strong>' + location + '</strong><br/><%= format_date ovni.sighted_at %><br/><strong><%= link_to "View sighting", :controller => "sightings", :action => "search", :id => ovni.id, :title => friendly_title(ovni) %></strong>');
				    <% 
				            rescue => ex
                           logger.info "Data error with doc #{ovni.id} - #{ex.class}: #{ex.message}"
                           next
				            end
				         end %>
				              
				    map.setCenter(position, zoom);
				    map.zoomToMaxExtent();
		
		      }

			    $(document).ready(function() {

					$("#mycarousel").carouFredSel({
						width: 850,
						height: 85,
						direction: "left",
						items: {
							visible: 4,
							minimum: 10,
						},
						scroll: {
							items: 1,
							duration: 1000
						},
						auto: 3000			
					});
				}); 

		</script>



	<div id="site_content">	
		
				<div id="content">
				
					   <div class="content_item">
							<h3>Recent UFO Activity</h3>
							<p>20 latest UFO sightings all over the world</p>
						
							<div id="mycarousel">
								<% for i in 0..19 %>
									<div class="sighting_carousel"><strong><%=@listaUFO[i].location%></strong><br/>
									<%= format_date @listaUFO[i].sighted_at %><br/>
									<strong><%= link_to "View sighting", :controller => "sightings", :action => "search", :id => @listaUFO[i].id, :title => friendly_title(@listaUFO[i]) %></strong>
									</div>
								<% end %>
							</div>
					   </div>

					   <div class="content_item">
							<div id="basicMap" style="width: 900px; height: 450px;"></div>
					   </div>
					   
					   <div class="content_item">
								<div class="content_item">
			   					<p>The map above shows the latest <strong>100 UFO sightings all over the world</strong>. Click the icons to get a summary of the sighting and access to the detail view, where you'll find the <strong>full report as it was reported by witnesses</strong> and <strong>other near sightings</strong>.</p><p>If you find something interesting <strong>feel free to share it with your friends !!!</strong></p>
					   		</div>
								<div class="content_container">
									<%= image_tag image_path('world.png') %>
									<h3><%= link_to "Thousands of sightings", :controller => "sightings", :action => "maps"%></h3>
									<p>Find sightings by date, shape, location or near you !! Browse over more than 100.000 sightings.</p>
								</div>

								<div class="content_container">
									<%= image_tag image_path('ufo_home.png') %>
									<h3><%= link_to "Have you seen a UFO?", :controller => "reports", :action => "new"%></h3>
									<p>Be quiet, you are not alone. Thousands of people have experienced the same before.
								</div>			
								<script type="text/javascript" src="http://w.sharethis.com/gallery/shareegg/shareegg.js"></script>
								<script type="text/javascript">stLight.options({publisher: "0f3d2694-bb70-4df6-a2dd-bfc0da82b253", doNotHash: false, doNotCopy: false, hashAddressBar: false, onhover:false});</script>

								<div class="content_container">
									<div id='shareThisShareEgg' class='shareEgg'></div>
									<script type='text/javascript'>stlib.shareEgg.createEgg('shareThisShareEgg', ['sharethis','facebook','googleplus','twitter'], {title:'ShareThis Rocks!!!',url:'http://www.sharethis.com',theme:'shareegg'});</script>
									<h3>Share your experience</h3>
									<p>Share your experience in one simple step and make it available to everyone.
								</div>	
						</div>
				</div>
		</div>
</div> 

