    <%= render partial: 'common/map', locals: {ufo_list: @ufo_list, map_id: 'sightings-map'} %>

		<div class="row">
		  <div class="span4">
		    <h3>Recent UFO Activity</h3>
		    <p>Latest UFO sightings all over the world</p>
			</div>
			<div class="span8">
			  <%=	render partial: 'common/gcs' %>
      </div>
		</div>

		<div class="row">
		  <div class="span12">
			  <div itemscope itemtype="http://schema.org/ItemList">
				  <meta itemprop="itemListOrder" content="Descending"/>
					<script type="text/javascript">
			   	  $(document).ready(function() {
					    $("#mycarousel").carousel({
					      interval: 10000
					    });
					  });
					</script>

				<div class="well">
		          	<div id="mycarousel" class="carousel slide" style="margin-bottom: 0px;">
		          		<div class="carousel-inner" style="width:80%;margin:auto;">
          						<%
												recent_sighting_cont = 0

												for i in 0..79

													if recent_sighting_cont % 4 == 0
							        %>
														<div class="item <%= "active" if recent_sighting_cont == 0 %>">
													    <div class="row-fluid">
			                <%
											    end
											%>
							                          <div class="span3" itemprop="itemListElement" itemscope itemtype="http://schema.org/Article">

							                          	<div style="width:85%;margin-left:auto;margin-bottom:15px">
								                          	<p itemprop="name" style=" overflow: hidden;text-overflow: ellipsis; font: bold 14px Arial;margin-bottom: 0"><%= @ufo_list[i].location.size > 40 ? @ufo_list[i].location.partition("(")[0] : @ufo_list[i].location %></p>
								                            <p itemprop="dateCreated" content="<%= format_date_microdata @ufo_list[i].sighted_at %>" style="margin-bottom: 0"><%= format_date @ufo_list[i].sighted_at %></p>
								                            <p style="margin-bottom:0"><%= link_to "View sighting", :controller => "sightings", :action => "search", :id => @ufo_list[i].id, :title => friendly_title(@ufo_list[i]) %></p>
							                            </div>

							                          </div>
							                <%
							                    recent_sighting_cont += 1

							                    if recent_sighting_cont % 4 == 0
							                %>
							                        </div>
							                      </div>
							                <%
							                    end
							                  end

							                  if recent_sighting_cont % 4 != 0
							                %>
							                        </div>
							                      </div>
							                <%
							                  end
							                %>
	                    </div>
	                <a class="left carousel-control" href="#mycarousel" data-slide="prev">‹</a>
	                <a class="right carousel-control" href="#mycarousel" data-slide="next">›</a>
	               </div>
	            </div>

				</div>
			</div>
    </div>

		<div class="row">
		  <div class="span12">
		    <div id="sightings-map" style="width: 100%; height: 600px;"></div>
		  </div>
		</div>
    <div class="row" style="margin-top: 20px;margin-bottom: 20px">
      <%= render partial: 'common/ads/horizontal_ad' %>
    </div>
		<div class="row" >
		  <div class="span12">
				<p style="color: #5A5A5A; font-size: 15px; margin: 10px 0; padding-right: 10px;">The map above shows the latest <strong>100 UFO sightings all over the world</strong>. Click the icons to get a summary of the sighting and access to the detail view, where you'll find the <strong>full report as it was reported by witnesses</strong> and <strong>other near sightings</strong>.</p><p style="color: #5A5A5A; font-size: 15px; margin: 10px 0; padding-right: 10px;">If you find something interesting <strong>feel free to share it with your friends !!!</strong></p>
			</div>
		</div>

    <div class="row">
			<div class="span4" style="text-align: center; margin-top: 15px">
				<%= image_tag image_path('world.png') %>
				<h3><%= link_to "Thousands of sightings", :controller => "sightings", :action => "maps"%></h3>
				<p style="color: #5A5A5A; font-size: 15px; margin: 10px 0; padding-right: 10px; line-height: 1.7em;">Find sightings by date, shape, location or near you !! Browse over more than 100.000 sightings.</p>
			</div>
			<div class="span4" style="text-align: center; margin-top: 15px">
				<%= image_tag image_path('ufo.png') %>
				<h3><%= link_to "Have you seen a UFO?", :controller => "reports", :action => "new"%></h3>
				<p style="color: #5A5A5A; font-size: 15px; margin: 10px 0; padding-right: 10px; line-height: 1.7em;">Be quiet, you are not alone. Thousands of people have experienced the same before.
			</div>
			<div class="span4" style="text-align: center; margin-top: 15px">
				<%= image_tag image_path('android.png') %>
				<h3><%= link_to "UFO Hunters App", "https://play.google.com/store/apps/details?id=com.ufohunters" %></h3>
				<p style="color: #5A5A5A; font-size: 15px; margin: 10px 0; padding-right: 10px; line-height: 1.7em;">Download our App and take a look at the most recent sightings, or those near you.
			</div>
	  </div>
