    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAqjT3yR9w2D96HTvEfAdyf8N95MpOisH4&sensor=false"></script>
    <script type="text/javascript">
      var map;
      var iterator = 0;
      var markers = [];
      var infoWindow;
      var sightings = [
      	<%
      	index = 0
      	@listaUFO.each do |ufo| 
		      begin
		        unless index == 0
		      %>,<%
		      	end
		      %>
					  ['<%=ufo.location.gsub("'", %q(\\\'))%>',
             <%=ufo.coord[1]%>,
             <%=ufo.coord[0]%>,
             <%=index += 1%>,
             '<strong><%=ufo.location.gsub("'", %q(\\\'))%></strong><br/><%= format_date ufo.sighted_at %><br/><strong><%= link_to "View sighting", :controller => "sightings", :action => "search", :id => ufo.id, :title => friendly_title(ufo) %></strong>'
					  ]
				  <% 
				  rescue => ex
            logger.info "Data error with doc #{ufo.id} - #{ex.class}: #{ex.message}"
            next
				  end
				end 
				%>
      ];

      function initialize() {
        var mapOptions = {
          zoom: 2,
          center: new google.maps.LatLng(34.16473667601063, -40.57035354999999)
        }
        map = new google.maps.Map(document.getElementById('sightings-map'), mapOptions);
        infoWindow = new google.maps.InfoWindow({content: ''});
        setMarkers(map, sightings);
      }    	

      function setMarkers(map, locations) {
  
      	for (var i = 0; i < locations.length; i++) {
      		setTimeout(function() {
            addMarker();
          }, i * 100);

        }

      }

      function getClickEvent() {
        var ua = navigator.userAgent;
        
        var clickEvent = "click";

		    if(ua.match(/iPad/i) || ua.match(/iPhone/i) || ua.match(/webOS/i) || ua.match(/Mobile/i) ){
		     	clickEvent = "touchstart";
		    }

		    return clickEvent;

      }

      function addMarker() {
      	  var image = '<%= image_path('platillo_verde.png') %>';
      	  var location = sightings[iterator];
      	  var myLatLng = new google.maps.LatLng(location[1], location[2]);
          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            icon: image,
            title: location[0],
            zIndex: location[3],
            draggable: false,
            clickable: true,
            animation: google.maps.Animation.DROP
          });
          marker.info = location[4];
          google.maps.event.addListener(marker, 'click', function() {
             infoWindow.content = marker.info;
             infoWindow.open(map, marker);
    });
          markers.push(marker);
          iterator++;
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>

		<div class="row">
		  <div class="span4">
		    <h3>Recent UFO Activity</h3>
		    <p>Latest UFO sightings all over the world</p>
			</div>
			<div class="span8">
			  <%=	render :partial => 'common/gcs' %>
      </div>
		</div>
		
		<div class="row">
		  <div class="span12">				
			  <div itemscope itemtype="http://schema.org/ItemList">
				  <meta itemprop="itemListOrder" content="Descending"/>
					<script type="text/javascript">
			   	  $(document).ready(function() {
					    $("#mycarousel").carousel({
					      interval: 10000
					    });
					  });
					</script>
					
				<div class="well">
		          	<div id="mycarousel" class="carousel slide" style="margin-bottom: 0px;">
		          		<div class="carousel-inner" style="width:80%;margin:auto;">
          									<% 
												recent_sighting_cont = 0

												for i in 0..79 

													if recent_sighting_cont % 4 == 0
							                %>	
														<div class="item <%= "active" if recent_sighting_cont == 0 %>">
													    <div class="row-fluid">								   								
			                                <%
											    end
											%>
							                          <div class="span3" itemprop="itemListElement" itemscope itemtype="http://schema.org/Article">

							                          	<div style="width:85%;margin-left:auto;margin-bottom:15px">
								                          	<p itemprop="name" style=" overflow: hidden;text-overflow: ellipsis; font: bold 14px Arial;margin-bottom: 0"><%= @listaUFO[i].location.size > 40 ? @listaUFO[i].location.partition("(")[0] : @listaUFO[i].location %></p>
								                            <p itemprop="dateCreated" content="<%= format_date_microdata @listaUFO[i].sighted_at %>" style="margin-bottom: 0"><%= format_date @listaUFO[i].sighted_at %></p>
								                            <p style="margin-bottom:0"><%= link_to "View sighting", :controller => "sightings", :action => "search", :id => @listaUFO[i].id, :title => friendly_title(@listaUFO[i]) %></p>
							                        	</div>

							                          </div>
							                <%
							                    recent_sighting_cont += 1

							                    if recent_sighting_cont % 4 == 0 
							                %>
							                        </div>
							                      </div>
							                <%
							                    end
							                  end

							                  if recent_sighting_cont % 4 != 0 
							                %>
							                        </div>
							                      </div>
							                <%
							                  end 
							                %>
	                    </div>
	                <a class="left carousel-control" href="#mycarousel" data-slide="prev">‹</a>
	                <a class="right carousel-control" href="#mycarousel" data-slide="next">›</a>
	               </div>
	            </div>
          
				</div>
			</div>
    </div>

		<div class="row">
		  <div class="span12">
		    <div id="sightings-map" style="width: 100%; height: 600px;"></div>
		  </div>
		</div>			   
		

	    <div class="row" style="margin-top: 20px;margin-bottom: 20px">
		    <div class="span12" itemscope itemtype="http://schema.org/WPAdBlock" >
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<ins class="adsbygoogle"
							     style="display:block"
							     data-ad-client="ca-pub-4760111415025425"
							     data-ad-slot="6918386485"
							     data-ad-format="auto"></ins>
							<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
		    </div>
	    </div>

		<div class="row" >
		  <div class="span12">
				<p style="color: #5A5A5A; font-size: 15px; margin: 10px 0; padding-right: 10px;">The map above shows the latest <strong>100 UFO sightings all over the world</strong>. Click the icons to get a summary of the sighting and access to the detail view, where you'll find the <strong>full report as it was reported by witnesses</strong> and <strong>other near sightings</strong>.</p><p style="color: #5A5A5A; font-size: 15px; margin: 10px 0; padding-right: 10px;">If you find something interesting <strong>feel free to share it with your friends !!!</strong></p>
			</div>
		</div>

    <div class="row">
			<div class="span4" style="text-align: center; margin-top: 15px">
				<%= image_tag image_path('world.png') %>
				<h3><%= link_to "Thousands of sightings", :controller => "sightings", :action => "maps"%></h3>
				<p style="color: #5A5A5A; font-size: 15px; margin: 10px 0; padding-right: 10px; line-height: 1.7em;">Find sightings by date, shape, location or near you !! Browse over more than 100.000 sightings.</p>
			</div>
			<div class="span4" style="text-align: center; margin-top: 15px">
				<%= image_tag image_path('ufo.png') %>
				<h3><%= link_to "Have you seen a UFO?", :controller => "reports", :action => "new"%></h3>
				<p style="color: #5A5A5A; font-size: 15px; margin: 10px 0; padding-right: 10px; line-height: 1.7em;">Be quiet, you are not alone. Thousands of people have experienced the same before.
			</div>		
			<div class="span4" style="text-align: center; margin-top: 15px">
				<%= image_tag image_path('android.png') %>
				<h3><%= link_to "UFO Hunters App", "https://play.google.com/store/apps/details?id=com.ufohunters" %></h3>
				<p style="color: #5A5A5A; font-size: 15px; margin: 10px 0; padding-right: 10px; line-height: 1.7em;">Download our App and take a look at the most recent sightings, or those near you.
			</div>
	  </div>
