<div id="site_content">    
                                                                                                
                   <div class="content_item">
                                <h3>Latest sightings</h3>
                                <p>Latest UFO sightings all over the world</p>  
                   </div>



                        <script type="text/javascript">
                        $(document).ready(function() {
                                                $("#foo2").carouFredSel({
                                                        circular: false,
                                                        infinite: false,
                                                        auto    : false,
                                                        width: 800,             
                                                        height: 250,                                    
                                                        items: {
                                                        visible: 3
                                                   },
                                                        prev    : {     
                                                                button  : "#foo2_prev",
                                                                key             : "left"
                                                        },
                                                        next    : { 
                                                                button  : "#foo2_next",
                                                                key             : "right"
                                                        },
                                                        pagination      : "#foo2_pag"
                                                });
                        });     
                        
                            
                        </script>


		<div class="image_carousel"> 
			   <div id="foo2">
					  <div class="content_continent">
								<%= image_tag image_path('noord-amerika.png') %>											
								<h3><%= link_to "North America", :controller => "sightings", :action => "northamerica"%></h3>
							</div>

							<div class="content_continent">
							   <%= image_tag image_path('zuid-amerika.png') %>
								<h3><%= link_to "South America", :controller => "sightings", :action => "southamerica"%></h3>
							</div>
							
							<div class="content_continent">
							   <%= image_tag image_path('afrika.png') %>
								<h3><%= link_to "Africa", :controller => "sightings", :action => "africa"%></h3>
							</div>

							<div class="content_continent">
								<%= image_tag image_path('azie.png') %>											
								<h3><%= link_to "Asia", :controller => "sightings", :action => "asia"%></h3>
							</div>			
				 
							<div class="content_continent">
								<%= image_tag image_path('europa.png') %>											
								<h3><%= link_to "Europe", :controller => "sightings", :action => "europe"%></h3>
							</div>									
							
							<div class="content_continent">
								<%= image_tag image_path('oceanie.png') %>
								<h3><%= link_to "Oceania", :controller => "sightings", :action => "oceania"%></h3>
							</div>	
										
				</div>
				<div class="clearfix"></div>
				<a class="prev" id="foo2_prev" href="#"><span>prev</span></a>
				<a class="next" id="foo2_next" href="#"><span>next</span></a>
				<div class="pagination" id="foo2_pag"></div> 
		</div>
	</div> 

</div>
