
  <%= render partial: 'common/map', locals: {ufo_list: @ufo_list, map_id: 'sightings-map', map_zoom: 3, map_center: [50.73, -105.46]} %>

	<div class="row">
			<div class="span12">
				<h3>Latest UFO sightings in North America</h3>							
			</div>			   
    </div>
							
	<div class="row">
			<div class="span12">
					<div id="sightings-map" style="width: 100%; height: 550px;"></div>
			</div>			   
    </div>


    <div class="row" style="margin-top: 20px;margin-bottom: 20px">
		    <div class="span12" itemscope itemtype="http://schema.org/WPAdBlock" >
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<ins class="adsbygoogle"
							     style="display:block"
							     data-ad-client="ca-pub-4760111415025425"
							     data-ad-slot="6918386485"
							     data-ad-format="auto"></ins>
							<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
		    </div>
	</div>
    
    <div class="row">                                                                              
		<div class="span12">
 		 	<h3>100 latest UFO sightings:</h3>
 		</div>
	</div>

	<div class="row">
				<div class="span8">
				<% 
		     	if @ufo_list
		     	%>	
		     		<div class="" style="margin-top: 20px;margin-bottom: 20px">
		     			
				      			<table class="table table-responsive table-striped">
				      				<thead>
											<tr>
													<th>Location
													</th>
													<th>Sighted on
													</th>
													<th>Shape
													</th>
													<th class="hidden-phone">Duration
													</th>
											</tr>
									</thead>
									<tbody>
							     	<% 
							      	# In order to avoid the same sighting as nearest sighting
							      	@ufo_list.each do |ufo|
										%>
							    			<tr itemprop="itemListElement" itemscope itemtype="http://schema.org/Article"> 
								         		<td itemprop="name">
								         			<%= link_to ufo.location, :controller => "sightings", :action => "search", :id => ufo.id, :title => friendly_title(ufo) %>
								         		</td>
								         		<td itemprop="dateCreated" content="<%= format_date_microdata ufo.sighted_at %>">
									    			<%= format_date ufo.sighted_at %>
									    		</td>
									    		<td>
									    			<%=ufo.shape%>
								         		</td>
								         		<td class="hidden-phone">
									    			<%= ufo.duration %>
								         		</td>
											</tr>
									<% 
									end 

									%>
								    </tbody>
								</table>
					</div>
 				
		     	<%
		        end
		        %>
			    </div>
			    <div class="span4" itemscope itemtype="http://schema.org/WPAdBlock">
					     		    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
									<!-- AnuncioAdaptable3 -->
									<ins class="adsbygoogle"
									     style="display:block"
									     data-ad-client="ca-pub-4760111415025425"
									     data-ad-slot="4432690882"
									     data-ad-format="auto"></ins>
									<script>
									(adsbygoogle = window.adsbygoogle || []).push({});
									</script>			
				</div>
	 </div>

