      <%
      if @listaUFO.coord
      %>
		<script type="text/javascript">
		   			
			var iconSize = new OpenLayers.Size(22, 22);			
		   var iconOffset = new OpenLayers.Pixel(-(iconSize.w / 2), -iconSize.h);
		   var icon = new OpenLayers.Icon("<%= image_path('ufo_marker.png') %>",
		                   iconSize, iconOffset);
			var iconSizeDetalle = new OpenLayers.Size(40, 40);
			var iconOffsetDetalle = new OpenLayers.Pixel(-(iconSizeDetalle.w / 2), -iconSizeDetalle.h);
			var iconDetalle = new OpenLayers.Icon("<%= image_path('ufo_selected.png') %>",
		                   iconSizeDetalle, iconOffsetDetalle);
		   var zoom, center, currentPopup, map, lyrMarkers;
		   var popupClass = OpenLayers.Class(OpenLayers.Popup.FramedCloud, {
		        "autoSize": true,
		        "minSize": new OpenLayers.Size(300, 50),
		        "maxSize": new OpenLayers.Size(500, 300),
		        "keepInMap": true
		    });
		   var bounds = new OpenLayers.Bounds();
		   var first = 0;
			var ua = navigator.userAgent;

		   function addMarker(lng, lat, info,icono) {
		   	var pt = new OpenLayers.LonLat(lng, lat).transform(new OpenLayers.Projection("EPSG:4326"),map.getProjectionObject());
		      bounds.extend(pt);
		      var feature = new OpenLayers.Feature(lyrMarkers, pt);
		      feature.closeBox = true;
		      feature.popupClass = popupClass;
		      feature.data.popupContentHTML = info;
		      feature.data.overflow = "auto";
				
		      var marker = new OpenLayers.Marker(pt, icon.clone());
		      if(first!=0) {
					if(icono==1) marker = new OpenLayers.Marker(pt,iconDetalle);
				   	var markerClick = function(evt) {
				      if (currentPopup != null && currentPopup.visible()) {
				      	currentPopup.hide();
				      }
				      if (this.popup == null) {
				         this.popup = this.createPopup(this.closeBox);
				         map.addPopup(this.popup);
				         this.popup.show();
				      } else {
				         this.popup.toggle();
				      }
				      currentPopup = this.popup;
				      OpenLayers.Event.stop(evt);
				   };

					var clickEvent = "click";

				   if(ua.match(/iPad/i) || ua.match(/iPhone/i) || ua.match(/webOS/i) || ua.match(/Mobile/i) ){
				     	clickEvent = "touchstart";
				   }
			    	marker.events.register(clickEvent, feature, markerClick);

				   lyrMarkers.addMarker(marker);
				}
		      first = 1;
		   }
		   
		   function init() {
		        
			   var zoom           = 8;
				 
			   var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
			   var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
									
				var lat            = <%=@listaUFO.coord[1]%>;
				var lon            = <%=@listaUFO.coord[0]%>;
					
				var position = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);
					
				map = new OpenLayers.Map("basicMap");
				var mapnik = new OpenLayers.Layer.OSM();
				map.addLayer(mapnik);
				 					
				lyrMarkers = new OpenLayers.Layer.Markers("Markers");
		      map.addLayer(lyrMarkers);
				var location = '';
				    
		      <% @listaUFOlist.each do |ovni|%>
            	location = "<%=ovni.location%>"; 			
               addMarker(<%=ovni.coord[0]%>,<%=ovni.coord[1]%>, '<strong>' + location + '</strong><br/><%= format_date ovni.sighted_at %><br/><strong><%= link_to "View sighting", :controller => "sightings", :action => "search", :id => ovni.id, :title => friendly_title(ovni) %></strong>',0);
				<% end %>
				    
				addMarker(lon, lat, null, 1);					
				map.setCenter(position, zoom);
		
		   }
		</script>
		<%
		end
		%>
	<script type="text/javascript">
   	$(document).ready(function() {
	  		$("#nearest_sightings_carousel").carouFredSel({
		    	direction: "up",
		    	width: 250,
		    	height: "variable",
		    	items: {
		        visible: 5,
		        width: 250
		    	},
		    	scroll: 500,
		    	auto: false,
		    	next: "#next_btn"
	  		});
		});

	</script>

	<div id="site_content">	

	 	<div id="content">
	 		
		   <div class="content_item">
		   	<%
      		if @listaUFO.coord
      		%>
				<div id="basicMap" style="width: 900px; height: 450px;"></div>
				<%
				end
				%>
		   </div>
		   
		   <div id="main-sighting">
		    <script type="text/javascript"><!--
			google_ad_client = "ca-pub-4915428284185441";
			/* HorizontalTexto */
			google_ad_slot = "2235396984";
			google_ad_width = 468;
			google_ad_height = 15;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
			<div class="share_bar">
			   <span class='st_sharethis_hcount' displayText='ShareThis'></span>
				<span class='st_facebook_hcount' displayText='Facebook'></span>
				<span class='st_twitter_hcount' displayText='Tweet'></span>
				<span class='st_googleplus_hcount' displayText='Google +'></span>
				<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
			</div>
			<div class="post">
				<h1 class="title"><%= @listaUFO.location  %></h1>
				<p class="meta">
					<small>Sighted on <strong><%= format_date @listaUFO.sighted_at %></strong><br/>
					Reported on <strong><%= format_date @listaUFO.reported_at %></strong><br/>
					Shape: <strong><%=@listaUFO.shape%></strong> | Duration: <strong><%=@listaUFO.duration%></strong><br/>
					Source: <strong><%=@listaUFO.source%></strong></small>
				</p>
				<div class="entry">
	   			<p><%=@listaUFO.description.html_safe%></p>
	   			<% unless @listaUFO.links.blank?	%>
	   				<script type="text/javascript">
   					$(document).ready(function() {
		   				$("#gallery").carouFredSel({
		   					 item: 3,
							    auto: {
							    	button: "#gallery_play"
							    },
							    scroll: {
							      duration: 1000,
							      timeoutDuration: 2000
							    }
							}).trigger("pause");
							$("#gallery a").prettyPhoto({
								theme: "facebook",
								changepicturecallback: function() {
									$("#gallery").trigger("pause");
								},
								callback: function() {
									$("#gallery").trigger("play");
								}
							});
   						//$("a[rel^='prettyPhoto']").prettyPhoto();
						});
						</script>
	   				<h2>Related links</h2>
	   				<%
	   				image_urls, other_urls = select_url_images(@listaUFO.links)

	   				unless image_urls.blank?
	   				%>
	   					<div class="image_carousel">
	   						<div id="gallery">
	   							<%
	   							image_urls.each do |img|
	   							%>	
	   								<a rel="prettyPhoto" href="<%=img%>">
	            						<img src="<%=img%>" alt="<%=@listaUFO.location%>" width="140" height="140" />
	        							</a>
	        						<%
	        					   end
	        					   %>
	   						</div>
	   						<div class="clearfix"></div>
	   						<a id="gallery_play" class="play" href="#"><span>&gt;</span></a>
	   					</div>
	   				<%
	   				end

	   				unless other_urls.blank?

	   					video_urls, other_urls = select_youtube_videos(other_urls)

	   					video_urls.each do |vid|
	   						%><%=youtube_video(vid)%><%
	   					end

	   					if other_urls

	   					%>
	   						<ul>
	   					<%
	   						other_urls.each do |link|
	   					%>
	   							<li><%= link_to link, link, :target => '_blank' %></li>
	   					<%
	   						end
	   					%>
	   					  </ul>
	   				<% 
	   					end

	   				end

	   			end 
	   			%>				 
   			</div>

   			<div id="disqus_thread"></div>
   			<script type="text/javascript">
			      var disqus_shortname = 'ufo-hunters'; // required: replace example with your forum shortname

			      (function() {
			         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			      })();
			   </script>
			   <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			   <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

			</div>
     	</div>
     	<% 
     	if @listaUFOlist
     	%>
     	<div id="other-posts">
     	   <div><a href='http://www.pledgie.com/campaigns/21122'><img alt='Click here to lend your support to: Support UFO-Hunters and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/21122.png?skin_name=chrome' border='0' /></a></div>
     		<p>Nearest sightings (100 miles radius):</p>
     		<div id="nearest_sightings_carousel">     			
     		<% 
      	# In order to avoid the same sighting as nearest sighting
      	@listaUFOlist.each do |ovni|
	      	if @listaUFO.id == ovni.id
	         	next
	       	end
			%>
    			<div class="post"> 
         		<h2 class="title"><%= link_to ovni.location, :controller => "sightings", :action => "search", :id => ovni.id, :title => friendly_title(ovni) %></h2>
         		<p class="meta">
	    			<small>Sighted on <strong><%= format_date ovni.sighted_at %></strong><br/>
	    			Shape: <strong><%=ovni.shape%></strong> | Duration: <strong><%= ovni.duration %></strong></small>
         		</p>
				</div>
			<% 
			end 
			%>
     		</div>
     		<a id="next_btn">More</a>
     		<script type="text/javascript"><!--
			google_ad_client = "ca-pub-4915428284185441";
			/* Vertical gráfico */
			google_ad_slot = "3572529384";
			google_ad_width = 250;
			google_ad_height = 250;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
     	</div>
     	<%
     end
     %>
  	</div>

</div>