      <%
      if @listaUFO.coord
      %>
		<script type="text/javascript">
		   			
			var iconSize = new OpenLayers.Size(22, 22);			
		   var iconOffset = new OpenLayers.Pixel(-(iconSize.w / 2), -iconSize.h);
		   var icon = new OpenLayers.Icon("<%= image_path('platillo_negro.png') %>",
		                   iconSize, iconOffset);
			var iconSizeDetalle = new OpenLayers.Size(40, 40);
			var iconOffsetDetalle = new OpenLayers.Pixel(-(iconSizeDetalle.w / 2), -iconSizeDetalle.h);
			var iconDetalle = new OpenLayers.Icon("<%= image_path('platillo_verde.png') %>",
		                   iconSizeDetalle, iconOffsetDetalle);
		   var zoom, center, currentPopup, map, lyrMarkers;
		   var popupClass = OpenLayers.Class(OpenLayers.Popup.FramedCloud, {
		        "autoSize": true,
		        "minSize": new OpenLayers.Size(300, 50),
		        "maxSize": new OpenLayers.Size(500, 300),
		        "keepInMap": true
		    });
		   var bounds = new OpenLayers.Bounds();
		   var first = 0;
			var ua = navigator.userAgent;

		   function addMarker(lng, lat, info,icono) {
		   	var pt = new OpenLayers.LonLat(lng, lat).transform(new OpenLayers.Projection("EPSG:4326"),map.getProjectionObject());
		      bounds.extend(pt);
		      var feature = new OpenLayers.Feature(lyrMarkers, pt);
		      feature.closeBox = true;
		      feature.popupClass = popupClass;
		      feature.data.popupContentHTML = info;
		      feature.data.overflow = "auto";
				
		      var marker = new OpenLayers.Marker(pt, icon.clone());
		      if(first!=0) {
					if(icono==1) marker = new OpenLayers.Marker(pt,iconDetalle);
				   	var markerClick = function(evt) {
				      if (currentPopup != null && currentPopup.visible()) {
				      	currentPopup.hide();
				      }
				      if (this.popup == null) {
				         this.popup = this.createPopup(this.closeBox);
				         map.addPopup(this.popup);
				         this.popup.show();
				      } else {
				         this.popup.toggle();
				      }
				      currentPopup = this.popup;
				      OpenLayers.Event.stop(evt);
				   };

					var clickEvent = "click";

				   if(ua.match(/iPad/i) || ua.match(/iPhone/i) || ua.match(/webOS/i) || ua.match(/Mobile/i) ){
				     	clickEvent = "touchstart";
				   }
			    	marker.events.register(clickEvent, feature, markerClick);

				   lyrMarkers.addMarker(marker);
				}
		      first = 1;
		   }
		   
		   function init() {
		        
			   var zoom           = 8;
				 
			   var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
			   var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
									
				var lat            = <%=@listaUFO.coord[1]%>;
				var lon            = <%=@listaUFO.coord[0]%>;
					
				var position = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);
					
				map = new OpenLayers.Map("basicMap");
				var mapnik = new OpenLayers.Layer.OSM();
				map.addLayer(mapnik);
				 					
				lyrMarkers = new OpenLayers.Layer.Markers("Markers");
		        map.addLayer(lyrMarkers);
				var location = '';
				    
		      <% @nearest_sightings.each do |ovni|%>
            	location = "<%=ovni.location%>"; 			
               addMarker(<%=ovni.coord[0]%>,<%=ovni.coord[1]%>, '<strong>' + location + '</strong><br/><%= format_date ovni.sighted_at %><br/><strong><%= link_to "View sighting", :controller => "sightings", :action => "search", :id => ovni.id, :title => friendly_title(ovni) %></strong>',0);
				<% end %>
				    
				addMarker(lon, lat, null, 1);					
				map.setCenter(position, zoom);
		
		   }
		</script>
		<%
		end
		%>
	
	 	<div class="row">
		    <div class="span12">
			   	<%
	      		if @listaUFO.coord
	      		%>
					<div id="basicMap" style="width: 100%; height: 450px;"></div>
				<%
				end
				%>
		   	</div>
		</div>
		
	    <div class="row" style="margin-top: 20px;margin-bottom: 20px">
		    <div class="span12" itemscope itemtype="http://schema.org/WPAdBlock" >
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<ins class="adsbygoogle"
							     style="display:block"
							     data-ad-client="ca-pub-4760111415025425"
							     data-ad-slot="6918386485"
							     data-ad-format="auto"></ins>
							<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
		    </div>
	    </div>

		
		<div itemscope itemtype="http://schema.org/Article" class="row">	
				
				<div class="span8">
					<article>
						<meta itemprop="articleSection" content="UFO Sightings">
						<header>
							<h2 itemprop="name" class="title"><%= @listaUFO.location  %></h2>
						</header>
						<p class="meta">
						<small>Sighted on <strong itemprop="dateCreated" content="<%= format_date_microdata @listaUFO.sighted_at %>"><%= format_date @listaUFO.sighted_at %></strong><br/>
						Reported on <strong itemprop="datePublished" content="<%= format_date_microdata @listaUFO.reported_at %>"><%= format_date @listaUFO.reported_at %></strong><br/>
						Shape: <strong><%=@listaUFO.shape%></strong> | Duration: <strong><%=@listaUFO.duration%></strong><br/>
						Source: <span itemprop="author" itemscope itemtype="http://schema.org/Organization"><strong itemprop="name"><%=@listaUFO.source%></strong></span>
						<span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
							<meta itemprop="name" content="ufo-hunters.com">
						</span>
						</small>
						</p>
						<div class="entry">
				   			<p itemprop="articleBody"><%=@listaUFO.description.html_safe%></p>
				   			<% unless @listaUFO.links.blank?	%>
				   				<script type="text/javascript">
			   					      $(document).ready(function() {
						                  $("#gallery").carousel({
						                     interval: 5000
						                  });
						              });
			   					      <%# lightbox %>
			   					      $('.thumbnail').click(function(){
												  	$('.modal-body').empty();
												  	var title = $(this).attr("title");
												  	$('.modal-title').html(title);
												  	$(this.innerHTML).appendTo('.modal-body');
												  	$('#myModal').modal({show:true});
												});
								</script>
				   				<%
				   				image_urls, other_urls = select_url_images(@listaUFO.links)

				   				unless image_urls.blank?
				   				%><h2>Images</h2>
				   					<div class="well" style="padding: 0">
                      					<div id="gallery" class="carousel slide" style="margin: 0">
                      						<div class="carousel-inner" style="width: 90%; margin: auto;">
				   							    <%
				   							    img_cont = 0

				   							    image_urls.each do |img|

				   							  
				   							    	  if img_cont % 3 == 0
				   							          %>	
							   								<div class="item <%= "active" if img_cont == 0 %>">
							   								    <div class="row-fluid">								   								
						   						      <%
									              end
										            %>
										              		<div class="span4">
										              			<a href="<%=img%>" class="thumbnail">
									   											<figure>
									            							<img src="<%=img%>" alt="<%=@listaUFO.location%>" width="140" title="<%=@listaUFO.location%>" />
									            						</figure>
									        							</a>
									        						</div>
				        						      <%									                  

									               img_cont += 1

									               if img_cont % 3 == 0 
							                %>
							                      </div>
							                  </div>
							                <%
							                  end
									                
				        					  end
				        					  
				        					  if img_cont % 3 != 0 
							              %>
							                  </div>
							                </div>
							              <%
							              end 
							              %>

				        					</div>
				        					<a class="left carousel-control" href="#gallery" data-slide="prev">‹</a>
                         	<a class="right carousel-control" href="#gallery" data-slide="next">›</a>
				   						</div>				   						
				   					</div>

				   					<%# image lightbox %>
				   					<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">×</button>
													<h3 class="modal-title">Heading</h3>
											</div>
											<div class="modal-body">
												
											</div>
											<div class="modal-footer">
												<button class="btn" data-dismiss="modal">Close</button>
											</div>
										</div>

				   				<%
				   				end

				   				unless other_urls.blank?

				   					video_urls, other_urls = select_youtube_videos(other_urls)

				   					unless video_urls.blank?
				   						%><h2>Videos</h2><%

					   					video_urls.each do |vid|
					   						%><%=youtube_video(vid)%><%	
					   					end

					   				end

				   					unless other_urls.blank?

				   					%><h2>Related links</h2>
				   						<ul>
				   					<%
				   						other_urls.each do |link|
				   					%>
				   							<li><%= link_to link, link, :target => '_blank' %></li>
				   					<%
				   						end
				   					%>
				   					  </ul>
				   				<% 
				   					end

				   				end

				   			end 
				   			%>
	   						 
   						</div>
   					</article>

   					<div id="disqus_thread" style="margin-left:10px" class="row"></div>
					<script type="text/javascript">
				      var disqus_shortname = 'ufo-hunters'; // required: replace example with your forum shortname

				      (function() {
				         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				      })();
				   	</script>
	   				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	   				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

	   			</div>
	   			<div class="span4" itemscope itemtype="http://schema.org/WPAdBlock">
					     		    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
									<!-- AnuncioAdaptable3 -->
									<ins class="adsbygoogle"
									     style="display:block"
									     data-ad-client="ca-pub-4760111415025425"
									     data-ad-slot="4432690882"
									     data-ad-format="auto"></ins>
									<script>
									(adsbygoogle = window.adsbygoogle || []).push({});
									</script>			
				</div>
	    </div>
		

	    <div class="row">
				<div class="span8">

				  <% 
				  # Less than two because the current sighting is returned
		      unless @nearest_sightings.blank? || @nearest_sightings.count < 2
            %><%= render partial: "common/nearest_sightings", locals: {ufo_id: @listaUFO.id}, object: @nearest_sightings %>
		     	<%
		      end
		      %>

			  </div>
			    <div class="span4" itemscope itemtype="http://schema.org/WPAdBlock">

			 						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
									<!-- AnuncioAdaptable2 -->
									<ins class="adsbygoogle"
									     style="display:block"
									     data-ad-client="ca-pub-4760111415025425"
									     data-ad-slot="9142092084"
									     data-ad-format="auto"></ins>
									<script>
									(adsbygoogle = window.adsbygoogle || []).push({});
									</script>
			    </div>
	  	</div>
