<%  unless @ufo_list.nil?

      cache("sightings/report/#{@ufo_list.id}", skip_digest: true, expires_in: 12.hours) do
	%>

	 	<div class="row">
		    <div class="span12">
			   	<%
	      	unless @ufo_list.coord.nil? || @ufo_list.coord == ""
	      	%>
	      		<div id="sightings-map" style="width: 100%; height: 450px;"></div>
				  <%
					end
				%>
		   	</div>
		</div>
		<%
			unless @ufo_list.coord.nil? || @ufo_list.coord == ""
		%>
		  <%= render partial: 'common/map', locals: {selected_ufo: @ufo_list, ufo_list: @nearest_sightings, map_id: 'sightings-map'} %>
		<%
		end
		%>
    <div class="row" style="margin-top: 20px;margin-bottom: 20px">
      <%= render partial: 'common/ads/horizontal_ad' %>
    </div>

		<div itemscope itemtype="http://schema.org/Article" class="row">

				<div class="span8">
					<article>
						<!-- Go to www.addthis.com/dashboard to customize your tools -->
						<div class="addthis_sharing_toolbox"></div>

						<meta itemprop="articleSection" content="UFO Sightings">
						<header>
							<h2 itemprop="name" class="title">
									<%
						      	unless @ufo_list.location.nil? || @ufo_list.location == ""
						      		%>
												<%= @ufo_list.location %></h2>
									<%
									  end
									%>
									<meta itemprop="headline" content="<%= friendly_title(@ufo_list) %>">
						</header>
						<p class="meta">
						<small>Sighted on <strong itemprop="dateCreated" content="<%= format_date_microdata @ufo_list.sighted_at %>"><%= format_date @ufo_list.sighted_at %></strong><br/>
						Reported on <strong itemprop="datePublished" content="<%= format_date_microdata @ufo_list.reported_at %>"><%= format_date @ufo_list.reported_at %></strong><br/>
						Shape: <strong><%=@ufo_list.shape%></strong> | Duration: <strong><%=@ufo_list.duration%></strong><br/>
						Source: <span itemprop="author" itemscope itemtype="http://schema.org/Organization"><strong itemprop="name"><%=@ufo_list.source%></strong></span>
						<span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
							<meta itemprop="name" content="ufo-hunters.com">
						</span>
						</small>
						</p>
						<div class="entry">
				   			<p itemprop="articleBody"><%=@ufo_list.description.html_safe%></p>
				   			<% unless @ufo_list.links.blank? && @ufo_list.image_cloudinary.blank? %>
				   				<script type="text/javascript">
			   					      $(document).ready(function() {
						                  $("#gallery").carousel({
						                     interval: 5000
						                  });
						              });
			   					      <%# lightbox %>
			   					      $('.thumbnail').click(function(){
												  	$('.modal-body').empty();
												  	var title = $(this).attr("title");
												  	$('.modal-title').html(title);
												  	$(this.innerHTML).appendTo('.modal-body');
												  	$('#myModal').modal({show:true});
												});
								</script>
				   				<%
				   				image_urls = []
				   				image_urls, other_urls = select_url_images(@ufo_list.links) unless @ufo_list.links.blank?
				   				image_urls = image_urls + @ufo_list.image_cloudinary unless @ufo_list.image_cloudinary.blank?

				   				unless image_urls.blank?
				   				%><h2>Images</h2>
				   					<div class="well" style="padding: 0">
                      					<div id="gallery" class="carousel slide" style="margin: 0">
                      						<div class="carousel-inner" style="width: 90%; margin: auto;" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
				   							    <%
				   							    img_cont = 0

				   							    image_urls.each do |img|

				   							    	  if img_cont % 3 == 0
				   							          %>
							   								<div class="item <%= "active" if img_cont == 0 %>">
							   								    <div class="row-fluid">
						   						      <%
									              end

									              img = cl_image_path(image_id(img), :size => '1024x768', :crop => :fit) if image_hosting_link?(img)
										            %>
										              		<div class="span4">
										              			<a href="<%=img%>" class="thumbnail">
									   											<figure>
									   												<%
									   												if image_hosting_link?(img)
									   												%>
									   												<%= cl_image_tag(image_id(img), :itemprop => 'contentUrl', :alt => @ufo_list.location, :size => '140x105', :crop => :fit, :title => @ufo_list.location) %>
									   												<%
									   												else
									   												%>
									   												<%= image_tag img, :itemprop => 'contentUrl', :alt => @ufo_list.location, :width => 140, :title => @ufo_list.location %>
									            							<%
									            							end
									            							%>
									            						</figure>
									        							</a>
									        						</div>
				        						      <%

									               img_cont += 1

									               if img_cont % 3 == 0
							                %>
							                      </div>
							                  </div>
							                <%
							                  end

				        					  end

				        					  if img_cont % 3 != 0
							              %>
							                  </div>
							                </div>
							              <%
							              end
							              %>

				        					</div>
				        					<a class="left carousel-control" href="#gallery" data-slide="prev">‹</a>
                         	<a class="right carousel-control" href="#gallery" data-slide="next">›</a>
				   						</div>
				   					</div>

				   					<%# image lightbox %>
				   					<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">×</button>
													<h3 class="modal-title">Heading</h3>
											</div>
											<div class="modal-body">

											</div>
											<div class="modal-footer">
												<button class="btn" data-dismiss="modal">Close</button>
											</div>
										</div>

				   				<%
				   				end

				   				unless other_urls.blank?

				   					video_urls, other_urls = select_youtube_videos(other_urls)

				   					unless video_urls.blank?
				   						%><h2>Videos</h2><%

					   					video_urls.each do |vid|
					   						%><%=youtube_video(vid)%><%
					   					end

					   				end

				   					unless other_urls.blank?

				   					%><h2>Related links</h2>
				   						<ul>
				   					<%
				   						other_urls.each do |link|
				   					%>
				   							<li><%= link_to link, link, :target => '_blank' %></li>
				   					<%
				   						end
				   					%>
				   					  </ul>
				   				<%
				   					end

				   				end

				   			end
				   			%>

   						</div>
   					</article>

   					<div id="disqus_thread" style="margin-left:10px" class="row"></div>
					<script type="text/javascript">
				      var disqus_shortname = 'ufo-hunters'; // required: replace example with your forum shortname

				      (function() {
				         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				      })();
				   	</script>
	   				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	   				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

	   			</div>
          <%= render partial: 'common/ads/adaptable3' %>
	    </div>

	    <div class="row">
				<div class="span8">

				  <%
				  # Less than two because the current sighting is returned
		      unless @nearest_sightings.blank? || @nearest_sightings.count < 2
            %><%= render partial: "common/nearest_sightings", locals: {ufo_id: @ufo_list.id}, object: @nearest_sightings %>
		     	<%
		      end
		      %>

			  </div>
			  <%= render partial: 'common/ads/adaptable' %>
	  	</div>
<%
      end
    end
%>
