<%= stylesheet_link_tag "ufo-data", :media => "all" %>
<%= javascript_include_tag "custom-tooltip" %>
<%= javascript_include_tag "d3.v3.min.js" %>
<script>
function init() {}
</script>
<div id="site_content">			
   <div id="content">
      <div class="content_item">
          <h2>A glance at our data</h2>
	  <p>The following bubble graph represents the wide variety of sightings' shapes. Select a bubble to know the number of sightings and the corresponding shape.<br/>The graph is dinamically generated to keep it up to date as our database is updated. <strong>More graphs coming soon !!</strong></p>
       </div>
       <div class="content_item" >
          <div class="stats_table"  >
            <table style="float: left; width: 200px">
              <caption>UFO Shapes Data</caption>
              <thead>
                <tr>
                   <th class="stats_table_left" style="text-align: left">Shape</th>
                   <th style="text-align: left">Number of sightings</th>
                </tr>
              </thead>
              <tbody>
              <%
                count = 0
                (0...30).each do |i|
                #@listaUFO.each do |ufo|
                  ufo = @listaUFO[i]
              %>    
                <tr <%= count % 2 == 0 ? "class='even'" : ""%>>
                   <td class="stats_table_left"><%= ufo['_id']['shape'].blank? ? "N/A" : ufo['_id']['shape'][0..15] %></td>
                   <td class="stats_table_right"><%= ufo['count'] %></td>
                </tr>
              <% 
                count += 1
              end %>
              
              </tbody>
            </table>
			
			     <article style="float: left; max-width: 950px" >
             <div class="top">
             </div>
            </article>
			     <div style="clear: both"></div>
          </div>
		   
          <%= javascript_include_tag "ufo-data.js" %>
         
       </div>
    </div>
</div> 
<div class="row" style="margin-top: 20px;margin-bottom: 20px">
        <div class="span12" itemscope itemtype="http://schema.org/WPAdBlock" >
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-4760111415025425"
                   data-ad-slot="6918386485"
                   data-ad-format="auto"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
</div>
