
  <%= render partial: 'common/map', locals: {ufo_list: @ufo_list, map_id: 'sightings-map-search', map_zoom: 7, map_center: @map_center} %>

  <div class="row">
    <div class="span12">
      <h3>UFO Search results between <%=@startdateview%> and <%=@enddateview%>, <%= link_to(raw("Would you like to do a new search?"), {:controller => "sightings", :action => "ufosearch"}, :itemprop => "url")%></h3>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div id="sightings-map-search" style="width: 100%; height: 550px;"></div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;margin-bottom: 20px">
    <%= render partial: 'common/ads/horizontal_ad' %>
  </div>
  <div class="row">
    <div class="span12">
      <h3>UFO sightings between <%=@startdateview%> and <%=@enddateview%> within a radius of 200 miles:</h3>
    </div>
  </div>

  <div class="row">
    <%= render partial: 'common/latest_sightings' %>
    <%= render partial: 'common/ads/adaptable3' %>
  </div>
