
<div class="w-full mb-4">
  <h3 class="text-xl font-bold text-[#D7DF21]">
    UFO Search results between <%= @startdateview %> and <%= @enddateview %>,
    <%= link_to(raw("Would you like to do a new search?"), sightings_ufosearch_path, :itemprop => "url", class: "text-[#D7DF21] hover:underline") %>
  </h3>
</div>

<div class="w-full mb-4">
  <div id="sightings-map" class="w-full h-[550px] rounded-lg"></div>
</div>

<%= render partial: 'common/map', locals: {ufo_list: @ufo_list, map_id: 'sightings-map', map_zoom: 7, map_center: @map_center} %>

<div class="my-5">
  <%= render partial: 'common/ads/horizontal_ad' %>
</div>

<div class="w-full mb-4">
  <h3 class="text-xl font-bold text-gray-200">UFO sightings between <%= @startdateview %> and <%= @enddateview %> within a radius of 200 miles:</h3>
</div>

<div class="grid grid-cols-12 gap-4">
  <div class="col-span-12 lg:col-span-8">
    <%= render partial: 'common/latest_sightings' %>
  </div>
  <div class="col-span-12 lg:col-span-4">
    <%= render partial: 'common/ads/adaptable3' %>
  </div>
</div>
