
      

		<script type="text/javascript">
		
		    var iconSize = new OpenLayers.Size(22, 22);
		    var iconOffset = new OpenLayers.Pixel(-(iconSize.w / 2), -iconSize.h);
		    var icon = new OpenLayers.Icon("<%= image_path('platillo_verde.png') %>",
		                   iconSize, iconOffset);
		    var zoom, center, currentPopup, map, lyrMarkers;
		    var popupClass = OpenLayers.Class(OpenLayers.Popup.FramedCloud, {
		        "autoSize": true,
		        "minSize": new OpenLayers.Size(300, 50),
		        "maxSize": new OpenLayers.Size(500, 300),
		        "keepInMap": true
		    });
		    var bounds = new OpenLayers.Bounds();
		    var ua = navigator.userAgent;
			
		    function addMarker(lng, lat, info) {
		        var pt = new OpenLayers.LonLat(lng, lat).transform(new OpenLayers.Projection("EPSG:4326"),map.getProjectionObject());
		        bounds.extend(pt);
		        var feature = new OpenLayers.Feature(lyrMarkers, pt);
		        feature.closeBox = true;
		        feature.popupClass = popupClass;
		        feature.data.popupContentHTML = info;
		        feature.data.overflow = "auto";
		        var marker = new OpenLayers.Marker(pt, icon.clone());
		        var markerClick = function(evt) {
		            if (currentPopup != null && currentPopup.visible()) {
		                currentPopup.hide();
		            }
		            if (this.popup == null) {
		                this.popup = this.createPopup(this.closeBox);
		                map.addPopup(this.popup);
		                this.popup.show();
		            } else {
		                this.popup.toggle();
		            }
		            currentPopup = this.popup;
		            OpenLayers.Event.stop(evt);
		        };
		        
		        var clickEvent = "click";

		       if(ua.match(/iPad/i) || ua.match(/iPhone/i) || ua.match(/webOS/i) || ua.match(/Mobile/i) ){
		        	clickEvent = "touchstart";
		    	  }
	    		
	    		  marker.events.register(clickEvent, feature, markerClick);
		    	
		        
		        lyrMarkers.addMarker(marker);
		    }
		    function init() {
		        
				     var zoom           = 1;
				 
				    var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
				    var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
				
				
				    var position = new OpenLayers.Bounds();
				 
				    map = new OpenLayers.Map("basicMap");
				    var mapnik = new OpenLayers.Layer.OSM();
				    map.addLayer(mapnik);
				 
				    var markers = new OpenLayers.Layer.Markers( "Markers" );
				    map.addLayer(markers);
				    markers.addMarker(new OpenLayers.Marker(position)); 
		                    
				    lyrMarkers = new OpenLayers.Layer.Markers("Markers");
		            map.addLayer(lyrMarkers);
					var location = '';
		            <% @listaUFO.each do |ovni| 
		                  begin
		            %>
						         location = "<%=ovni.location%>";
		  			 	         addMarker(<%=ovni.coord[0]%>,<%=ovni.coord[1]%>, '<strong>' + location + '</strong><br/><%= format_date ovni.sighted_at %><br/><strong><%= link_to "View sighting", :controller => "sightings", :action => "search", :id => ovni.id, :title => friendly_title(ovni) %></strong>');
				    <% 
				            rescue => ex
                           logger.info "Data error with doc #{ovni.id} - #{ex.class}: #{ex.message}"
                           next
				            end
				         end %>
				              
				    map.setCenter(position, zoom);
				    map.zoomToMaxExtent();
		
		      }

			   
		</script>



	<div class="row">
		<div class="span12">	
							<h3>Recent UFO Activity</h3>
							<p>100 latest UFO sightings videos all over the world</p>
		</div>
	</div>

	<div class="row">
		<div class="span12">	
							<script type="text/javascript">
			   					      $(document).ready(function() {
						                  $("#mycarousel").carousel({
						                     interval: 10000
						                  });
						              });
							</script>
							<meta itemprop="itemListOrder" content="Descending"/>
							<div class="well">
              					<div id="mycarousel" class="carousel slide">
              						<div class="carousel-inner" itemscope itemtype="http://schema.org/ItemList">
              							
											<% 
												vid_cont = 0

												for i in 0..49 

													if vid_cont % 5 == 0 && vid_cont ==0
				   							          %>	
							   								<div class="item <%= "active" if vid_cont == 0 %>">
							   								    <div class="row-fluid" style="margin-left:80px">								   								
						   						      <%
									                end
										             
										            if vid_cont % 5 == 0 && vid_cont !=0
				   							          %>	
							   									</div>
							   								</div>
							   								<div class="item">
							   								    <div class="row-fluid" style="margin-left:80px">								   								
						   						      <%
									                end

																	%>
																	<div class="span2" itemprop="itemListElement" itemscope itemtype="http://schema.org/Article" style="margin-bottom:10px"><strong itemprop="name"><%= @listaUFO[i].location.size > 40 ? @listaUFO[i].location.partition("(")[0] : @listaUFO[i].location %></strong><br/>
																		    <span itemprop="dateCreated" content="<%= format_date_microdata @listaUFO[i].sighted_at %>"><%= format_date @listaUFO[i].sighted_at %></span><br/>
																		    <strong><%= link_to "View sighting", :controller => "sightings", :action => "search", :id => @listaUFO[i].id, :title => friendly_title(@listaUFO[i]) %></strong>
																	</div>
											<% 		vid_cont += 1

												end 

													%>
													 			</div>
				   											</div>
									</div>
									<a class="left carousel-control" href="#mycarousel" data-slide="prev">‹</a>
                         		    <a class="right carousel-control" href="#mycarousel" data-slide="next">›</a>
								</div>
							</div>
    	</div>
	</div>					   
    
    <div class="row">
		  <div class="span12">	
		  	<p>Click the icons in the map to access the sightings reports and <strong>watch the videos</strong> submitted by the witnesses. Judge yourself and share your opinion with the community.</p>
		  </div>
    </div>
	
	<div class="row">
		<div class="span12">	
							<div id="basicMap" style="width: 85%; height: 550px;"></div>
		</div>
					   					  
	</div>

 

