<div class="px-4 md:px-12 max-w-[1920px] mx-auto py-10">
  <div class="w-full">
    <%= form_for(@article) do |f| %>
      <% if @article.errors.any? %>
        <div class="mb-6">
          <div class="w-full bg-red-950/40 border border-red-700/50 text-red-300 px-5 py-4 rounded-xl" id="error_explanation">
            <div class="flex items-center gap-2 mb-2">
              <span class="material-symbols-outlined text-red-400">error</span>
              <h2 class="font-['Space_Grotesk'] text-xs uppercase tracking-widest"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
            </div>
            <ul class="list-disc list-inside text-sm">
            <% @article.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <!-- Title -->
      <div class="mb-6">
        <div class="w-full">
          <%= f.label :title, nil, class: "font-['Space_Grotesk'] text-xs uppercase tracking-widest text-[#c9c8ad] mb-2 block" %>
          <%= f.text_field :title, required: '', class: "w-full bg-[#0a0e14] border border-[#484833]/30 text-[#dfe2eb] focus:ring-1 focus:ring-[#D7DF21] rounded-lg px-4 py-3 focus:outline-none" %>
        </div>
      </div>

      <%= f.hidden_field :user_id, :value => session[:user_id] %>
      <%= f.hidden_field :published_date, :value =>  Time.new.strftime('%Y%m%d').to_s %>

      <!-- Teaser + Guidelines -->
      <div class="flex flex-col lg:flex-row gap-6 mb-6">
        <div class="flex-1">
          <%= f.label :teaser, nil, class: "font-['Space_Grotesk'] text-xs uppercase tracking-widest text-[#c9c8ad] mb-2 block" %>
          <%= f.cktext_area :teaser, :ckeditor => {:uiColor => '#D7DF21', :toolbar => 'mini'}, required: '' %>
        </div>
        <div class="w-full lg:w-5/12">
          <div class="bg-[#262a31] border border-[#484833]/20 rounded-xl p-6">
            <div class="flex items-center gap-2 mb-3">
              <span class="material-symbols-outlined text-[#bdf4ff] text-lg">info</span>
              <p class="font-['Space_Grotesk'] text-xs uppercase tracking-widest text-[#D7DF21]">Guidelines</p>
            </div>
            <ul class="list-disc list-inside text-[#dfe2eb] text-sm space-y-2 leading-relaxed">
              <li>All the fields are mandatory</li>
              <li>Please use the default font size and type, but feel free to format the text (alignment, bold text, italics, etc.) as you consider</li>
              <li>Images can be uploaded by clicking the image icon in the toolbar. Once the pop-up is opened, click <strong class="text-[#D7DF21]">Browse Server</strong> and select <strong class="text-[#D7DF21]">Upload</strong>. Now you can choose the file from your computer and it will be automatically uploaded to our server. Once the image becomes available, click on it and it will appear on the preview window. You are encouraged to write an alternative text. Finally, click <strong class="text-[#D7DF21]">OK</strong> and the image will be inserted in the editor.
              <li>Images can be aligned and resized from the editor</li>
              <li>Add links to any other resources you may consider as relevant</li>
              <li>Do not forget to click the <strong class="text-[#D7DF21]">Create Article</strong> button when you are finished</li>
              <li>Your username and the current date are automatically sent as author and publication date when the article is saved</li>
              <li>Please do not hesitate to contact us at ufohunterscom@gmail.com if you have any problem</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="mb-6">
        <div class="w-full">
          <%= f.label :body, nil, class: "font-['Space_Grotesk'] text-xs uppercase tracking-widest text-[#c9c8ad] mb-2 block" %>
          <%= f.cktext_area :body, :ckeditor => {:uiColor => '#D7DF21', :toolbar => 'mini'}, required: '' %>
        </div>
      </div>

      <!-- Submit -->
      <div class="mb-6">
        <div class="w-full">
          <%= f.submit class: "bg-[#D7DF21] text-[#313300] hover:bg-[#D7DF21] font-['Space_Grotesk'] uppercase tracking-widest font-bold py-3 px-8 rounded-lg cursor-pointer transition-colors duration-200" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
