<div>
  <div class="w-full">
    <%= form_for(@article) do |f| %>
      <% if @article.errors.any? %>
        <div class="mb-4">
          <div class="w-full bg-red-900/50 border border-red-700 text-red-300 px-4 py-3 rounded" id="error_explanation">
            <h2 class="font-semibold mb-2"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

            <ul class="list-disc list-inside">
            <% @article.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        </div>
        <% end %>
        <div class="mb-4">
          <div class="w-full">
            <%= f.label :title, nil, class: "block text-sm font-medium text-gray-300 mb-1" %>
            <%= f.text_field :title, required: '', class: "w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded text-white focus:outline-none focus:border-[#D7DF21]" %>
          </div>
        </div>
        <%= f.hidden_field :user_id, :value => session[:user_id] %>
        <%= f.hidden_field :published_date, :value =>  Time.new.strftime('%Y%m%d').to_s %>
        <div class="flex flex-col lg:flex-row gap-4 mb-4">
          <div class="flex-1">
            <%= f.label :teaser, nil, class: "block text-sm font-medium text-gray-300 mb-1" %>
            <%= f.cktext_area :teaser, :ckeditor => {:uiColor => '#d7df21', :toolbar => 'mini'}, required: '' %>
          </div>
          <div class="w-full lg:w-5/12">
            <div class="bg-gray-800/60 border border-gray-700 rounded-lg p-4">
              <p class="font-semibold text-white mb-2">Guidelines</p>
              <ul class="list-disc list-inside text-gray-300 text-sm space-y-1">
                <li>All the fields are mandatory</li>
                <li>Please use the default font size and type, but feel free to format the text (alignment, bold text, italics, etc.) as you consider</li>
                <li>Images can be uploaded by clicking the image icon in the toolbar. Once the pop-up is opened, click <strong class="text-white">Browse Server</strong> and select <strong class="text-white">Upload</strong>. Now you can choose the file from your computer and it will be automatically uploaded to our server. Once the image becomes available, click on it and it will appear on the preview window. You are encouraged to write an alternative text. Finally, click <strong class="text-white">OK</strong> and the image will be inserted in the editor.
                <li>Images can be aligned and resized from the editor</li>
                <li>Add links to any other resources you may consider as relevant</li>
                <li>Do not forget to click the <strong class="text-white">Create Article</strong> button when you are finished</li>
                <li>Your username and the current date are automatically sent as author and publication date when the article is saved</li>
                <li>Please do not hesitate to contact us at ufohunterscom@gmail.com if you have any problem</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mb-4">
          <div class="w-full">
            <%= f.label :body, nil, class: "block text-sm font-medium text-gray-300 mb-1" %>
            <%= f.cktext_area :body, :ckeditor => {:uiColor => '#d7df21', :toolbar => 'mini'}, required: '' %>
          </div>
        </div>
        <div class="mb-4">
          <div class="w-full">
            <%= f.submit class: 'px-6 py-2 bg-[#D7DF21] text-gray-900 font-semibold rounded hover:bg-[#c5cd1e] transition cursor-pointer'%>
          </div>
        </div>
    <% end %>
  </div>
</div>
