<% cache("articles/content/#{@page_number}", skip_digest: true, expires_in: 1.week) do %>
<div class="mt-5 mb-5">
  <%= render partial: 'common/ads/horizontal_ad' %>
</div>

<div>
  <h2 class="text-2xl font-bold text-white mb-4">Articles</h2>
  <p class="text-gray-300 mb-4"><strong class="text-white">Do you want to get involved?</strong>
  If you want to share your work or experience here, feel free to <a href="mailto:ufohunterscom@gmail.com" class="text-[#D7DF21] hover:underline">contact us!</a> </p>
  <div class="w-full lg:w-2/3" itemscope itemtype="http://schema.org/ItemList">
    <meta itemprop="itemListOrder" content="Descending"/>
  <%
  unless @articles.blank?

    @articles.each do |article| %>
    <div class="flex flex-col sm:flex-row gap-4 mb-6 p-4 bg-gray-800/50 rounded-lg" itemprop="itemListElement" itemscope itemtype="http://schema.org/Article">

      <article class="flex flex-col sm:flex-row gap-4 w-full">
        <meta itemprop="articleSection" content="Articles"><%
        unless article.image_thumbnail.blank?
      %>
        <div class="w-full sm:w-1/4 flex-shrink-0">
          <figure>
            <%= image_tag(article.image_thumbnail, :itemprop => "image", :title => article.title, :alt => article.title, :class => "rounded-lg shadow-md border border-gray-700 w-full h-auto")%>
          </figure>
        </div>
        <div class="flex-1">
      <%
        else
      %>
        <div class="w-full">
      <%
        end
      %>
          <header>
            <h3 itemprop="name" class="text-xl font-semibold text-[#D7DF21] hover:text-white"><%= link_to article.title, :controller => "articles", :action => "show", :id => article.id, :title => ArticlesHelper.friendly_title(article) %></h3>
            <meta itemprop="headline" content="<%= article.title %>"/>
          </header>
          <p class="text-sm text-gray-400 mt-1">
            <small>Published on <strong itemprop="dateCreated" content="<%= format_date_microdata article.published_date %>" class="text-gray-300"><%= format_date article.published_date %></strong><br/>
              <meta itemprop="datePublished" content="<%= format_date_microdata article.published_date %>">
              <%
               unless article.user.nil?
              %>
              By: <span itemprop="author" itemscope itemtype="http://schema.org/Person"><strong itemprop="name" class="text-gray-300">
                  <%=article.user.username%>
                  </strong></span>
              <%
              end
              %>
              <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="ufo-hunters.com">
              </span>
            </small>
          </p>
          <div class="mt-2 text-gray-300">
            <p itemprop="description"><%= article.teaser.html_safe %></p>
          </div>
        </div>

      </article>

    </div>
  <%
    end

  %>
    <nav class="flex justify-between items-center mt-6">
      <%
      unless @page_number <= 1
      %>
      <div>
        <%= link_to "&larr; Previous".html_safe, articles_path(page: @page_number - 1), class: "inline-block px-4 py-2 bg-gray-700 text-[#D7DF21] rounded hover:bg-gray-600 transition" %>
      </div>
      <%
      end
      unless (@page_number * Ufo::MAX_PAGE_ITEMS) >= @num_articles
      %>
      <div class="ml-auto">
        <%= link_to "Next &rarr;".html_safe, articles_path(page: @page_number + 1), class: "inline-block px-4 py-2 bg-gray-700 text-[#D7DF21] rounded hover:bg-gray-600 transition" %>
      </div>
      <%
      end
      %>
    </nav>

  </div>

  <%= render partial: 'common/ads/adaptable' %>

  <%
  else
  %>
    <div class="bg-red-900/50 border border-red-700 text-red-300 px-4 py-3 rounded relative" role="alert">
      No content available
    </div>
  <%
  end
  %>

</div>
<% end %>
