<div class="mt-5 mb-5">
  <%= render partial: 'common/ads/horizontal_ad' %>
</div>

<div>
  <h2 class="text-2xl font-bold text-white mb-4">Articles</h2>

  <%
  unless @articles.blank?
  %>

  <p class="text-gray-300 mb-4"><strong class="text-white">Do you want to get involved?</strong>
  If you want to share your work or experience here, feel free to <a href="mailto:ufohunterscom@gmail.com" class="text-[#D7DF21] hover:underline">contact us!</a> or join our <%= link_to('UFO Research Network', {:controller => "articles", :action => "uforesearchteam"}, class: "text-[#D7DF21] hover:underline")%></p>
  <div class="w-full lg:w-2/3" itemscope itemtype="http://schema.org/ItemList">
    <meta itemprop="itemListOrder" content="Descending"/>
    <%
    @articles.each do |article| %>
    <div class="flex flex-col sm:flex-row gap-4 mb-6 p-4 bg-gray-800/50 rounded-lg" itemprop="itemListElement" itemscope itemtype="http://schema.org/Article">

      <article class="flex flex-col sm:flex-row gap-4 w-full">
        <meta itemprop="articleSection" content="Articles">
        <%
        unless article.image_thumbnail.blank?
        %>
        <div class="w-full sm:w-1/4 flex-shrink-0">
          <figure>
            <%= image_tag(article.image_thumbnail, :itemprop => "image", :title => article.title, :alt => article.title, :class => "rounded-lg shadow-md border border-gray-700 w-full h-auto")%>
          </figure>
        </div>
        <div class="flex-1">
        <%
        else
        %>
        <div class="w-full">
        <%
        end
        %>
          <header>
            <h3 itemprop="name" class="text-xl font-semibold text-[#D7DF21] hover:text-white"><%= link_to article.title, :controller => "articles", :action => "show", :id => article.id, :title => ArticlesHelper.friendly_title(article) %></h3>
          </header>
          <p class="text-sm text-gray-400 mt-1">
            <small>Published on <strong itemprop="dateCreated" content="<%= format_date_microdata article.published_date %>" class="text-gray-300"><%= format_date article.published_date %></strong><br/>
              <meta itemprop="datePublished" content="<%= format_date_microdata article.published_date %>">
              By: <span itemprop="author" itemscope itemtype="http://schema.org/Organization"><strong itemprop="name" class="text-gray-300"><%=article.user.username%></strong></span>
              <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="ufo-hunters.com">
              </span>
            </small>
          </p>
          <div class="mt-2 text-gray-300">
            <p itemprop="description"><%= article.teaser.html_safe %></p>
          </div>
          <div class="mt-3 flex gap-2">
            <%= link_to 'Edit', edit_article_path(article), class: 'inline-block px-3 py-1 bg-[#D7DF21] text-gray-900 text-sm font-semibold rounded hover:bg-[#c5cd1e] transition' if logged_in? %>
            <%= link_to 'Destroy', article, confirm: 'Are you sure?', class: 'inline-block px-3 py-1 bg-red-600 text-white text-sm font-semibold rounded hover:bg-red-700 transition', method: :delete if logged_in? %>
          </div>
        </div>

      </article>

    </div>
    <%
    end
    %>
  </div>

  <%= render partial: 'common/ads/adaptable' %>

  <%
  else
  %>
  <div class="bg-red-900/50 border border-red-700 text-red-300 px-4 py-3 rounded relative" role="alert">
    No content available
  </div>
  <%
  end
  %>

</div>

<div class="mt-6">
  <p class="text-gray-300"><strong class="text-white">Are you ready? Create your article here: <%= link_to 'New Article', new_article_path, class: 'inline-block px-4 py-2 bg-[#D7DF21] text-gray-900 font-semibold rounded hover:bg-[#c5cd1e] transition' if logged_in? %></strong></p>
  <div class="bg-yellow-900/30 border border-yellow-700 text-yellow-300 px-4 py-3 rounded mt-3">
    <p class="text-lg font-medium">Contents in the "Articles" section are moderated BEFORE they appear on the site, and this takes time... We thank you for your patience and understanding.</p>
  </div>
</div>
