<% cache("articles/content/#{@article.id}", skip_digest: true, expires_in: 1.month) do%>
<p id="notice"><%= notice %></p>

<%= link_to 'Back', articles_path %>

<div class="row" style="margin-top: 20px;margin-bottom: 20px">
  <%= render partial: 'common/ads/horizontal_ad' %>
</div>

<div itemscope itemtype="http://schema.org/Article" class="row">

  <div class="span8">
    <article>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <div class="addthis_sharing_toolbox"></div>
      <meta itemprop="articleSection" content="UFO Sightings">
      <header>
        <h2 itemprop="name" class="title"><%= @article.title %></h2>
        <meta itemprop="headline" content="<%= @article.title %>"/>
      </header>
      <%
      unless @article.image_thumbnail.blank?
      %>
        <meta itemprop="image" content="<%= @article.image_thumbnail %>"/>
      <%
      end
      %>
      <p class="meta">
        <meta itemprop="datePublished" content="<%= format_date_microdata @article.published_date %>"/>
        <small>Published on <strong itemprop="dateCreated" content="<%= format_date_microdata @article.published_date %>"><%= format_date @article.published_date %></strong>
        <%
          unless @article.user.nil?
        %>
          , by <strong itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><%= @article.user.username %></span></strong><br/>
        <%
          end
        %>
        <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
          <meta itemprop="name" content="ufo-hunters.com"/>
        </span>
       </small>
      </p>
      <div class="entry">
          <p><%=@article.teaser.html_safe%></p>
      </div>

      <%
      unless @article.partial_1.blank?
      %>
      <div>
        <%= render partial: @article.partial_1, locals: {ufo_list: @ufo_list} %>
      </div>
      <%
      end
      %>

      <div class="entry">
          <span itemprop="articleBody">
            <%=@article.body.html_safe%>
          </span>
      </div>
    </article>

    <div id="disqus_thread" style="margin-left:10px" class="row"></div>
    <script type="text/javascript">
      var disqus_shortname = 'ufo-hunters'; // required: replace example with your forum shortname

      (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

  </div>
  <div class="span4" itemscope itemtype="http://schema.org/WPAdBlock">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- AnuncioAdaptable3 -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-4760111415025425"
               data-ad-slot="4432690882"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>

          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- AnuncioAdaptable2 -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-4760111415025425"
               data-ad-slot="9142092084"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
  </div>
</div>
<% end %>
