<div class="row">
		<div class="span12">
 			<h2>UFO Resarch Team</h2>
 		</div>
</div>


<div class="row">
		<div class="span12">
         <p>Do you want to join our research team?.</p>
         <p>We have several collaborators that publish their research in the form of articles on our site. In the navigation menu you can see a tab called "Articles".</p>
         <p>If you want to publish your research and findings and share them with the whole world, create your account on our site, create your articles and show the world what you know.</p>
		</div>
</div>


<div class="row">

    <div class="span5 well">
        <h3>Log in</h3>
        <%= form_tag sessions_path do %>
          <div class="field">
            <%= label_tag :username %>
            <%= text_field_tag :username, params[:username] %>
          </div>
          <div class="field">
            <%= label_tag :password %>
            <%= password_field_tag :password %>
          </div>
          <div class="actions"><%= submit_tag "Log in" %></div>
        <% end %>

            <% if flash[:form] == 1%>
                <div class="alert alert-dismissable alert-danger">
                    <button data-dismiss="alert" class="close" type="button">×</button>
                    <strong><%=flash[:error]%></strong>
                </div>
            <% end %>

  </div>

   <div class="span5 well">
        <h3>Sign up</h3>

        <%
        if flash[:form] == 2
          unless flash[:error].blank?
            flash[:error].each do |msg|
        %>
            <div class="alert alert-dismissable alert-danger">
              <button data-dismiss="alert" class="close" type="button">×</button>
              <strong><%= msg %></strong>
            </div>
        <%
            end
          end
        end
        %>

        <%= form_for @user do |f| %>
            <% if @user.errors.any? %>
              <div class="error_messages">
                <h2>Form is invalid</h2>
                <ul>
                  <% for message in @user.errors.full_messages %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="field">
              <%= f.label :username %>
              <%= f.text_field :username, :class => 'required fieldufo' %>
            </div>
            <div class="field">
              <%= f.label :password %>
              <%= f.password_field :password, :class => 'required fieldufo' %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, :class => 'required fieldufo' %>
            </div>
            <div class="field">
              <%= f.label :email %>
              <%= f.text_field :email, :class => 'required fieldufo' %>
            </div>
            <div class="field">
              <%= f.label :email_confirmation %>
              <%= f.text_field :email_confirmation, :class => 'required fieldufo' %>
            </div>
             <div class="field">
               <%= recaptcha_tags %>
               <div class="caja-text"><span class="divrojo"><%= flash[:recaptcha_error] %></span></div>
            </div>
            <div class="actions"><%= submit_tag "Sign up" %></div>
        <% end %>
  </div>

</div>



<div class="row" style="margin-top: 20px;margin-bottom: 20px">
  <%= render partial: 'common/ads/horizontal_ad' %>
</div>
