
<script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script> 
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script>
function init() {}

$(document).ready(function(){
     $("#new_report").validate({
    });
});



</script>


  <div class="row">
          <div class="span12">
                <h3>New report</h3>
          </div>          
  </div>

  <div> 
          <div class="span12">
                          <%= form_for(@report) do |f| %>
                              <% if @report.errors.any? %>
                                <div id="error_explanation">
                                  <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

                                  <ul>
                                  <% @report.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                  <% end %>
                                  </ul>
                                </div>
                              <% end %>
          </div>          
  </div>                 
                              <script>
                                $(function() {
                                  $( "#report_sighted_at" ).datepicker();
                                  $( "#report_reported_at" ).datepicker();
                                });   
                                cont = 0;
                                function addlink() {   
                                        cont = cont + 1;
                                         $(".fieldlinks").append("<input type='text' size='30' class='fieldufo' name='report[links[" + cont + "]]' id='report_links'/>");
                                }                           
                              </script>
                              

  <div class="row"> 
          <div class="span4">
                                <label for="sighted_at">Sighted on <span class="divrojo">*</span></label></br>
                                <%= f.text_field :sighted_at, :size => 12, :class => 'required fieldufo'  %>
          </div>
          <div class="span3">
                                <label for="reported_at">Reported on <span class="divrojo">*</span></label></br>
                                <%= f.text_field :reported_at, :size => 12, :class => 'required fieldufo'  %>
          </div>
  </div>                             
  <div class="row"> 
          <div class="span4">
                                <label for="report_shape">Shape <span class="divrojo">*</span></label></br>
                                <%= f.text_field :shape, :size => 12, :class => 'required fieldufo' %>
          </div>
          <div class="span3">

                                <label for="report_duration">Duration <span class="divrojo">*</span></label></br>
                                <%= f.text_field :duration, :size => 12, :class => 'required fieldufo' %>
          </div>
  </div>  
  <div class="row"> 
          <div class="span4">                              
                                <label for="report_location">Location <span class="divrojo">*</span></label></br>
                                <%= f.text_field :location, :class => 'required fieldufo' %>
                                <br><br>
                                <label for="report_email" class="report_location">Email contact (your email address<br> will never be published or shared)</label></br>
                                <%= f.text_field :email, :class => 'fieldufo' %>
          </div> 
          <div class="span3"> 
                                <label for="report_description">Description <span class="divrojo">*</span></label></br>
                                <%= f.text_area :description, :rows => 8, :cols => 84, :class => 'required fieldufo' %>
          </div>
  </div>
 
  <div class="row"> 
          <div class="span4">
                                <label for="report_links" class="report_location">Links (videos, images, articles...)</label></br>
                                <input id="report_links" class="fieldufo" type="text" size="30" name="report[links[0]]">
                                <div class="fieldlinks"></div>
                                <a href="javascript:addlink();">(Add more links)</a>
          </div>
          <div class="span3">
                              <%= show_simple_captcha(:label => "")%></br>
                              <div class="caja-text"><span class="divrojo"><%=@notice%></span></div>
          </div>
  </div>
  <div class="row"> 
          <div class="span4">
                              <input type="submit" value="SEND UFO'S REPORT" name="commit">
          </div>      
          <div class="span3"></br>
          </div>            
  </div>

                          <% end %>

                
    

