   

  

  <div id="site_content"> 
    <div id="content">         
            <div id="main-post">

                    <div class="content_item">
                      <h3>New report</h3>
                    </div>

                    <div class="content_item">
                      
                          <%= form_for(@report) do |f| %>
                              <% if @report.errors.any? %>
                                <div id="error_explanation">
                                  <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

                                  <ul>
                                  <% @report.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                  <% end %>
                                  </ul>
                                </div>
                              <% end %>

                              

                              <div class="field">
                                <%= f.label :sighted_at %><br />
                                <%= f.text_field :sighted_at %>
                              </div>
                              <div class="field">
                                <%= f.label :reported_at %><br />
                                <%= f.text_field :reported_at %>
                              </div>
                               <div class="field">
                                <%= f.label :location %><br />
                                <%= f.text_field :location %>
                              </div>
                               <div class="field">
                                <%= f.label :shape %><br />
                                <%= f.text_field :shape %>
                              </div>
                               <div class="field">
                                <%= f.label :description %><br />
                                <%= f.text_field :description %>
                              </div>
                              <div class="actions">
                                <%= f.submit %>
                              </div>


                              <div class="entry">
                                 <p></p>
                              </div>

                          <% end %>

                    </div>                  
            </div> 
  </div>
</div> 

