<div class="ufoform">

  <div class="row">
    <div class="span12">
      <h3>New ufo reported!</h3>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <label for="sighted_at"><strong>Sighted on </strong></label>
      <p><%= format_date @report['sighted_at']%></p>
    </div>
    <div class="span6">
      <label for="reported_at"><strong>Reported on </strong></label>
      <p><%= format_date @report['reported_at']%></p>
     </div>
  </div>
  <div class="row">
    <div class="span6">
      <label for="report_shape"><strong>Shape </strong></label>
      <p><%= @report['shape']%></p>
    </div>
    <div class="span6">
      <label for="report_duration"><strong>Duration </strong></label>
      <p><%= @report['duration']%></p>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <label for="report_location"><strong>Location </strong></label>
      <p><%= @report['location']%></p>
    </div>
    <% unless @report['links'].blank? || @report['links'].size == 0 || @report['links'][0].blank? %>
    <div class="span6">
      <label for="report_links"><strong>Links </strong></label>
      <p><%= @report['links'].map { |i| "'" + i.to_s + "'" }.join(",")%></p>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="span12">
      <label for="report_description"><strong>Description </strong></label>
      <p><%= @report['description']%> </p>
    </div>
  </div>
  <div class="row">
    <div class="span12 thankyoureport">
      Thank you very much for your trust in us
    </div>
  </div>
</div>
