<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @page_title %> - UFO Hunters</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta content="text/html; charset=utf-8" http-equiv="content-type" /> 
  <meta content='UFO, UFO Sightings, UFO Activity, Latest UFO Activity, Latest UFO Sightings, Recent UFO Activity, Recent UFO Sightings, UFO stats, UFO Reports, Latest UFO Reports, Recent UFO Reports, UFO Maps, UFO Hunters, UFO Videos, UFO Sightings Videos, UFO Sightings Reports' name='keywords'>
  <meta content='<%= @page_description %>' name='description'>
  <meta content="website" property="og:type"/>
  <meta content="<%= @page_title %> - UFO Hunters" property="og:title">
  <meta content="<%= @page_title %> - UFO Hunters" property="og:site_name">      
  <meta content="<%= @page_description %>" property="og:description">
  <meta content="en_US" property="og:locale">
  <link href="<%= image_path('favicon.ico') %>" rel="shortcut icon" /> 
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>    
  <script type="text/javascript">var switchTo5x=true;</script>                 
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "0f3d2694-bb70-4df6-a2dd-bfc0da82b253", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<link media="screen" type="text/css" rel="stylesheet" href="http://w.sharethis.com/gallery/shareegg/shareegg.css"></link>  
</head>
<body onload="init()" itemscope itemtype="http://schema.org/WebPage">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

  <div class="container">

    <header itemscope itemtype="http://schema.org/WPHeader">
  	  <div class="row">
		    <div class="span2">
          <h1><%= image_tag image_path('ufo-hunters-logo.png') %></h1>
		    </div>
			
			  <div class="span2">
          <h2><%=@numUFO%> sightings reported... and growing</h2>
			  </div>

			  <div class="span2">	  
				  <div class="fb-like-box" style="display:inline;" data-href="http://www.facebook.com/UfoHuntersCom" data-width="202" data-show-faces="false" data-stream="false" data-header="false"></div>
			  </div>
			  <div class="span1">
				  <div style="float:right; margin-top:20px;"><script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script><g:plusone></g:plusone></div>
			  </div>
			  <div class="3">
				  <div>
				    <iframe scrolling="no" frameborder="0" data-twttr-rendered="true" title="Twitter Follow Button" style="width: 317px; height: 28px;" class="twitter-follow-button twitter-follow-button" src="http://platform.twitter.com/widgets/follow_button.1366232305.html#_=1367084461545&id=twitter-widget-0&lang=en&screen_name=UfoHuntersCom&show_count=true&show_screen_name=true&size=l" allowtransparency="true"></iframe>
			    </div>
			  </div>
			  <div class="span2"> 					
			    <div style="float:left;margin-left:85px"><a href='http://www.pledgie.com/campaigns/21122'><img alt='Click here to lend your support to: Support ufo-huntersHunters and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/21122.png?skin_name=chrome' border='0' /></a></div>
			  </div>

	    </div>
	  </header>
	
	  <div class="row hidden-phone">
	    <div itemscope itemtype="http://schema.org/WPAdBlock" style="margin-left:auto;height:30px;text-align:center;margin-right:auto">
				<script type="text/javascript"><!--
					google_ad_client = "ca-pub-4760111415025425";
					/* Enlaces en la Home */
					google_ad_slot = "5026952480";
					google_ad_width = 728;
					google_ad_height = 15;
					//-->
				</script>
				<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
	    </div>
	  </div>
  
	  <div class="row">
	    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <!--a class="brand" href="#">Some Store</a-->
	          <nav class="nav-collapse">
		          <ul class="nav" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement"><!--  class="current" -->
			          <li <%if @menu.blank? == false && @menu == "index"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Home</div>"), {:controller => "sightings"}, :itemprop => "url")%></li>
			          <li <%if @menu.blank? == false && @menu == "statistics"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Statistics</div>"), {:controller => "sightings", :action => "statistics"}, :itemprop => "url")%></li>
			          <li <%if @menu.blank? == false && @menu == "maps"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Maps</div>"), {:controller => "sightings", :action => "maps"}, :itemprop => "url")%></li>
			          <li <%if @menu.blank? == false && @menu == "report"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Report a UFO</div>"), {:controller => "reports", :action => "new"}, :itemprop => "url")%></li>
			          <li <%if @menu.blank? == false && @menu == "videos"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Videos</div>"), {:controller => "sightings", :action => "videos"}, :itemprop => "url")%></li>
			          <li <%if @menu.blank? == false && @menu == "about"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>About us</div>"), {:controller => "sightings", :action => "about"}, :itemprop => "url")%></li>
		          </ul>
	          </nav>
	        </div>
	      </div>
	    </div>
    </div>
	
	  <%= yield %>
	
    <script type="text/javascript">
     $(document).ready(function() {
      $("#video_thumb_carousel").carouFredSel({
         circular: false,
         infinite: false,
         auto: false,
         width: 921,             
         height: 160,                                    
         items: {
            visible: 3,
            width: 307
         },
         prev: {     
            button: "#video_thumb_carousel_prev",
            key: "left"
         },
         next: { 
            button: "#video_thumb_carousel_next",
            key: "right"
         }
      });
     });
	  </script>
	
	  <div class="row hidden-phone">
	    <div class="span12" itemscope itemtype="http://schema.org/ItemList">
      	<meta itemprop="itemListOrder" content="Descending"/>
          <%

			    video_thumb_list = video_list
			
         	video_thumb_list.each do |thumb|
         	  logger.info "links: " + thumb.links.to_s
         	  thumb.links.each do |link|
      	      if youtube_link? link
      	   	    video_id = youtube_video_id(link)
      	   	   
      	   	    if video_id
      	   	   	  logger.info "video id: " + video_id
      	   
      %>
			        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/VideoObject">
					      <h4 itemprop="name"><%= thumb.location.size > 35 ? thumb.location.partition("(")[0] : thumb.location %></h4>
					      <p itemprop="dateCreated" content="<%= format_date_microdata thumb.sighted_at %>"><%= format_date thumb.sighted_at %></p>
					      <div><figure>
						      <%= link_to(image_tag(Ufo::THUMBS_URL_BASE + video_id + "/1.jpg", :itemprop => "image", :alt =>  "UFO Sighting at " + thumb.location), :controller => "sightings", :action => "search", :id => thumb.id, :title => friendly_title(thumb)) %></figure>
					      </div>
			        </div>
		          <%
	                break
	         	    end
	            end
		        end
		      end
		   %>
 
      </div>
    </div>
    
	  <footer class="row" itemscope itemtype="http://schema.org/WPFooter" >
		  <div class="span3"></div>
		  <div class="span6">
	      <a href="mailto:ufohunterscom@gmail.com">ufohunterscom@gmail.com</a> | <a href="http://www.facebook.com/UfoHuntersCom">facebook - UfoHuntersCom</a> | <a href="http://twitter.com/UfoHuntersCom">twitter - @UfoHuntersCom</a> | <a href="https://plus.google.com/115233509348028051068" rel="publisher">Google+</a>
	    </div>
	    <div class="span3"></div>
	  </footer>
	
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40361062-1', 'ufo-hunters.com');
    ga('send', 'pageview');

    </script>

  </div>
</body>
</html>
