<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @page_title %> - UFO Hunters</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta content="text/html; charset=utf-8" http-equiv="content-type" />
  <meta name='keywords' content='UFO, UFO Sightings, UFO Activity, Latest UFO Activity, Latest UFO Sightings, Recent UFO Activity, Recent UFO Sightings, UFO stats, UFO Reports, Latest UFO Reports, Recent UFO Reports, UFO Maps, UFO Hunters, UFO Videos, UFO Sightings Videos, UFO Sightings Reports'/>
  <meta name='description' content='<%= @page_description %>'/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="<%= @page_title %> - UFO Hunters"/>
  <meta property="og:site_name" content="<%= @page_title %> - UFO Hunters"/>
  <meta property="og:description" content="<%= @page_description %>"/>
  <meta property="og:image" content="http://www.ufo-hunters.com/usa/20130807/ufo_sighting_in_deltona_florida.png" />
  <meta property="og:locale" content="en_US" />
  <link href="<%= image_path('platillo_verde.ico') %>" rel="shortcut icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "0f3d2694-bb70-4df6-a2dd-bfc0da82b253", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>

<body onload="init()" itemscope itemtype="http://schema.org/WebPage">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

  <div class="container">

    <header itemscope itemtype="http://schema.org/WPHeader">
  	  <div class="row hidden-phone">
		    <div class="span3">
      		<h1><%= image_tag image_path('ufo-hunters-logo.png') %></h1>
        </div>

		    <div class="span3">
        	<h2><%=@numUFO%> sightings reported...<BR/>and growing</h2>
			  </div>

        <div class="span2" style="margin-top:20px;margin-bottom:10px;">
          <a href='http://www.pledgie.com/campaigns/21122'><img alt='Click here to lend your support to: Support ufo-huntersHunters and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/21122.png?skin_name=chrome' border='0' /></a>
        </div>

        <div class="span2" style="margin-top: 10px;" class="row hidden-phone">
              <h5 style="color:#d7df21">
                  <%= link_to(raw("Do you want to join our UFO research team?"), {:controller => "articles", :action => "uforesearch"}, :itemprop => "url")%>
              </h5>
        </div>

        <div class="span2">
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b6f9892a2afcc1"></script> 
        </div>

			
      </div>
	  </header>

	  <div class="row">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="visible-phone" href="#"><%= image_tag image_path('navicon2.png') %></a>
            <nav class="nav-collapse">

              <ul class="nav" id="menunew" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                <li <%if @menu.blank? == false && @menu == "index"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Home</div>"), {:controller => "sightings"}, :itemprop => "url")%></li>
                <li <%if @menu.blank? == false && @menu == "articles"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Articles</div>"), {:controller => "articles"}, :itemprop => "url")%></li>
                <li <%if @menu.blank? == false && @menu == "statistics"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Statistics</div>"), {:controller => "stats"}, :itemprop => "url")%></li>
               
                <li <%if @menu.blank? == false && @menu == "maps"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Maps</div>"), {:controller => "sightings", :action => "maps"}, :itemprop => "url")%></li>
                <li <%if @menu.blank? == false && @menu == "report"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Report a UFO</div>"), {:controller => "reports", :action => "new"}, :itemprop => "url")%></li>
                <li <%if @menu.blank? == false && @menu == "videos"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Videos</div>"), {:controller => "sightings", :action => "videos"}, :itemprop => "url")%></li>
                <li <%if @menu.blank? == false && @menu == "images"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Images</div>"), {:controller => "sightings", :action => "images"}, :itemprop => "url")%></li>
                <li <%if @menu.blank? == false && @menu == "about"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>About us</div>"), {:controller => "sightings", :action => "about"}, :itemprop => "url")%></li>

                <li <%if @menu.blank? == false && @menu == "uforesearchteam"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>UFO Research Team</div>"), {:controller => "articles", :action => "uforesearchteam"}, :itemprop => "url")%></li>

                <% if logged_in? %> 

                <li <%if @menu.blank? == false && @menu == "myspace"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name' style='color:#688A08'>My space</div>"), {:controller => "articles", :action => "myspace"}, :itemprop => "url")%></li>

                <% end %>

              </ul>
            </nav>
	        </div>
	      </div>
	    </div>
    </div>

    <%#div class="row">
      <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Warning!</h4>
        Best check yo self, you're not...
      </div>

    </div%>

	  <%= yield %>

    <script type="text/javascript">
    $(document).ready(function() {
      $("#video_thumb_carousel").carousel({
        interval: 10000
      });
    });
    </script>

    <div class="row" style="background-color:#d7df21;margin-top: 45px">
      <div class="span12" itemscope itemtype="http://schema.org/ItemList">
        <meta itemprop="itemListOrder" content="Descending"/>
        <div>
          <div id="video_thumb_carousel" class="carousel slide">
            <div class="carousel-inner">
              <%
              video_thumb_list = video_list
              video_cont = 0

              video_thumb_list.each do |thumb|
                thumb.links.each do |link|
                  if youtube_link? link
                    video_id = youtube_video_id(link)

                    if video_id

                      if video_cont % 4 == 0
              %>
                        <div class="item <%= "active" if video_cont == 0 %>">
                          <div class="row-fluid">
              <%
                      end
              %>
                            <div class="span3" style="text-align: center" itemprop="itemListElement" itemscope itemtype="http://schema.org/VideoObject">
                              <h4 itemprop="name" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis" title="<%=thumb.location%>"><%= thumb.location %></h4>
                              <p itemprop="dateCreated" content="<%= format_date_microdata thumb.sighted_at %>"><%= format_date thumb.sighted_at %></p>
                              <div>
                                <figure>
                                <%= link_to(image_tag(Ufo::THUMBS_URL_BASE + video_id + "/1.jpg", :itemprop => "image", :style => "max-width:100%;", :alt => "UFO Sighting at " + thumb.location), :controller => "sightings", :action => "search", :id => thumb.id, :title => friendly_title(thumb)) %>
                                </figure>
                              </div>
                            </div>
              <%
                      video_cont += 1

                      if video_cont % 4 == 0
              %>
                          </div>
                        </div>
              <%
                      end

                    end
                  end
                end
              end

              if video_cont % 4 != 0
              %>
                          </div>
                        </div>
              <%
              end

              %>
            </div>
            <a class="left carousel-control" href="#video_thumb_carousel" data-slide="prev" style="top: 61%;left: -15px">‹</a>
            <a class="right carousel-control" href="#video_thumb_carousel" data-slide="next" style="top: 61%">›</a>
          </div>

        </div>
      </div>
    </div>

	  <footer class="row footer" itemscope itemtype="http://schema.org/WPFooter">
		  <div class="span3"><a href="mailto:ufohunterscom@gmail.com">ufohunterscom@gmail.com</a></div>
		  <div class="span2"><a href="http://www.facebook.com/UfoHuntersCom">facebook/UfoHuntersCom</a></div>
	    <div class="span2"><a href="http://twitter.com/UfoHuntersCom">twitter/UfoHuntersCom</a></div>
      <div class="span2"><a href="https://plus.google.com/115233509348028051068" rel="publisher">Google+</a></div>
      <div class="span3 span_android"><a href="https://play.google.com/store/apps/details?id=com.ufohunters" rel="publisher" class="link_android1">Android</a><a href="https://play.google.com/store/apps/details?id=com.ufohunters"><%= image_tag image_path('android_white.png') %></a><a href="https://play.google.com/store/apps/details?id=com.ufohunters" rel="publisher" class="link_android2">App</a></div>
    </footer>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40361062-1', 'ufo-hunters.com');
    ga('send', 'pageview');

    </script>

    <div class="postfooter">
      <div class="span12"></div>
    </div>

  </div>
</body>
</html>
