<!DOCTYPE html>
<html lang="en">
<% cache("common/head/#{@page_title}/#{@page_description.hash}", expires_in: 12.hours) do %>
<head>
  <title><%= @page_title %> - UFO Hunters</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <meta content="text/html; charset=utf-8" http-equiv="content-type" />
  <meta name='keywords' content='UFO, UFO Sightings, UFO Activity, Latest UFO Activity, Latest UFO Sightings, Recent UFO Activity, Recent UFO Sightings, UFO stats, UFO Reports, Latest UFO Reports, Recent UFO Reports, UFO Maps, UFO Hunters, UFO Videos, UFO Sightings Videos, UFO Sightings Reports'/>
  <meta name='description' content='<%= @page_description %>'/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="<%= @page_title %> - UFO Hunters"/>
  <meta property="og:site_name" content="<%= @page_title %> - UFO Hunters"/>
  <meta property="og:description" content="<%= @page_description %>"/>
  <meta property="og:image" content="http://www.ufo-hunters.com/usa/20130807/ufo_sighting_in_deltona_florida.png" />
  <meta property="og:locale" content="en_US" />
  <link href="<%= image_path('platillo_verde.ico') %>" rel="shortcut icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<% end %>
<body itemscope itemtype="http://schema.org/WebPage">

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

  <div class="container">
    <% cache("common/header", skip_digest: true) do %>
    <header itemscope itemtype="http://schema.org/WPHeader">
      <div class="row hidden-phone">
        <div class="span3">
          <h1><%= image_tag image_path('ufo-hunters-logo.png') %></h1>
        </div>

        <div class="span3">
          <h2><%=num_reports%> sightings reported...<br/>and growing</h2>
        </div>

        <div class="span2" style="margin-top:20px;margin-bottom:10px;">
          <a href='http://www.pledgie.com/campaigns/21122'><img alt='Click here to lend your support to: Support ufo-huntersHunters and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/21122.png?skin_name=chrome' border='0' /></a>
        </div>

        <div class="span2" style="margin-top: 10px;" class="row hidden-phone">
          <h5 style="color:#d7df21">
            <%= link_to(raw("Do you want to join our UFO research team?"), {:controller => "articles", :action => "uforesearchteam"}, :itemprop => "url")%>
          </h5>
        </div>

        <div class="span2">
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b6f9892a2afcc1" async="async"></script>

        </div>

      </div>
    </header>
    <% end %>

    <div class="row">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="visible-phone" href="#"><%= image_tag image_path('navicon2.png') %></a>
            <nav class="nav-collapse">

              <ul class="nav" id="menunew" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                <%
                cache("common/menu/#{@menu}", expires_in: 1.week) do
                %>
                <li <%if @menu.blank? == false && @menu == "index"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Home</div>"), {:controller => "sightings"}, :itemprop => "url")%></li>
                <li <%if @menu.blank? == false && @menu == "articles"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Articles</div>"), {:controller => "articles"}, :itemprop => "url")%></li>
                <li <%if @menu.blank? == false && @menu == "ufosearch"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>UFOs Search</div>"), {:controller => "sightings", :action => "ufosearch"}, :itemprop => "url")%></li>
                <li <%if @menu.blank? == false && @menu == "statistics"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Statistics</div>"), {:controller => "stats"}, :itemprop => "url")%></li>
                <li <%if @menu.blank? == false && @menu == "maps"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Maps</div>"), {:controller => "sightings", :action => "maps"}, :itemprop => "url")%></li>
                <li <%if @menu.blank? == false && @menu == "report"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Report a UFO</div>"), {:controller => "reports", :action => "new"}, :itemprop => "url")%></li>
                <li <%if @menu.blank? == false && @menu == "videos"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Videos</div>"), {:controller => "sightings", :action => "videos"}, :itemprop => "url")%></li>
                <li <%if @menu.blank? == false && @menu == "images"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>Images</div>"), {:controller => "sightings", :action => "images"}, :itemprop => "url")%></li>
                <li <%if @menu.blank? == false && @menu == "about"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>About us</div>"), {:controller => "sightings", :action => "about"}, :itemprop => "url")%></li>
                <li <%if @menu.blank? == false && @menu == "uforesearchteam"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name'>UFO Research Team</div>"), {:controller => "articles", :action => "uforesearchteam"}, :itemprop => "url")%></li>
                <%
                end
                %>

                <%
                if logged_in?

                  cache("common/menu/user/#{@menu}", expires_in: 1.week) do
                %>
                <li <%if @menu.blank? == false && @menu == "myspace"%>class="active"<% end %>><%= link_to(raw("<div itemprop='name' style='color:#688A08'>My space</div>"), {:controller => "articles", :action => "myspace"}, :itemprop => "url")%></li>
                <li><%= link_to(raw("<div itemprop='name' style='color:#688A08'>Logout</div>"), {:controller => "sessions", :action => "destroy"}, :itemprop => "url")%></li>

                <%
                  end

                end
                %>

              </ul>
            </nav>
	        </div>
	      </div>
	    </div>
    </div>

    <%#div class="row">
      <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Warning!</h4>
        Best check yo self, you're not...
      </div>

    </div%>

	  <%= yield %>

    <script type="text/javascript">
    $(document).ready(function() {
      $("#video_thumb_carousel").carousel({
        interval: 10000
      });
    });
    </script>
    <%
    cache("common/video_carousel", expires_in: 12.hours, skip_digest: true) do
    %>
    <div class="row" style="background-color:#d7df21;margin-top: 45px">
      <div class="span12" itemscope itemtype="http://schema.org/ItemList">
        <meta itemprop="itemListOrder" content="Descending"/>
        <div>
          <div id="video_thumb_carousel" class="carousel slide">
            <div class="carousel-inner">
              <%
              video_thumb_list = video_list
              video_cont = 0

              video_thumb_list.each do |thumb|
                thumb.links.each do |link|
                  if youtube_link? link
                    video_id = youtube_video_id(link)

                    if video_id

                      if video_cont % 4 == 0
              %>
                        <div class="item <%= "active" if video_cont == 0 %>">
                          <div class="row-fluid">
              <%
                      end
              %>
                            <div class="span3" style="text-align: center" itemprop="itemListElement" itemscope itemtype="http://schema.org/VideoObject">
                              <h4 itemprop="name" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis" title="<%=thumb.location%>"><%= thumb.location %></h4>
                              <meta itemprop="description" content="<%= friendly_title(thumb) %>"/>
                              <p itemprop="dateCreated" content="<%= format_date_microdata thumb.sighted_at %>"><%= format_date thumb.sighted_at %></p>
                              <meta itemprop="uploadDate" content="<%= format_date_microdata thumb.reported_at %>"/>
                              <meta itemprop="thumbnailUrl" content="<%= Ufo::THUMBS_URL_BASE + video_id + "/1.jpg" %>"/>
                              <div>
                                <figure>
                                <%= link_to(image_tag(Ufo::THUMBS_URL_BASE + video_id + "/1.jpg", :itemprop => "image", :style => "max-width:100%;", :alt => "UFO Sighting at " + thumb.location), :controller => "sightings", :action => "search", :id => thumb.id, :title => friendly_title(thumb)) %>
                                </figure>
                              </div>
                            </div>
              <%
                      video_cont += 1

                      if video_cont % 4 == 0
              %>
                          </div>
                        </div>
              <%
                      end

                    end
                  end
                end
              end

              if video_cont % 4 != 0
              %>
                          </div>
                        </div>
              <%
              end

              %>
            </div>
            <a class="left carousel-control" href="#video_thumb_carousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#video_thumb_carousel" data-slide="next">›</a>
          </div>

        </div>
      </div>
    </div>
    <%
    end

    cache ("common/footer") do
    %>
    <footer class="row footer" itemscope itemtype="http://schema.org/WPFooter">
      <div class="span2">
        &copy;<%=Date.today.strftime("%Y")%> ufo-hunters.com
      </div>
      <div class="span2">
        <a href="#disclaimerModal" role="button" data-toggle="modal" class="disclaimer">Disclaimer</a>
        <div aria-hidden="true" aria-labelledby="disclaimerModalLabel" role="dialog" tabindex="-1" class="modal hide fade disclaimer" id="disclaimerModal">
          <div class="modal-header disclaimer">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="disclaimerModalLabel" class="black-txt">Disclaimer</h3>
          </div>
          <div class="modal-body disclaimer">
            <p class="black-txt">The information on this site that is not produced by ufo-hunters.com is covered under the <strong><a href="http://www.copyright.gov/fls/fl102.html" target="_blank" title="Copyright Disclaimer Under Section 107 of the Copyright Act 1976">Copyright Disclaimer Under Section 107 of the Copyright Act 1976</a></strong></p>
            <p class="black-txt">The views, opinions, and facts expressed on this web site are solely those of the original authors, witnesses and other contributors. These views and opinions do not necessarily represent those of ufo-hunters.com staff, and/or any/all contributors to this site.</p>
          </div>
          <div class="modal-footer">
            <button aria-hidden="true" data-dismiss="modal" class="btn">Close</button>
          </div>
        </div>
      </div>

      <div class="span2">
        <a href="#privacyModal" role="button" data-toggle="modal" class="disclaimer">Privacy Policy</a>
        <div aria-hidden="true" aria-labelledby="privacyModalLabel" role="dialog" tabindex="-1" class="modal hide fade disclaimer" id="privacyModal">
          <div class="modal-header disclaimer">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="privacyModalLabel" class="black-txt">Privacy Policy</h3>
          </div>
          <div class="modal-body disclaimer">
            <p class="black-txt"><strong>ufo-hunters.com</strong> does not require any personal information from you other than a valid email address, and is not responsible for any personal information you choose to share through reports, articles, comments or any kind of content.</p>
            <p class="black-txt"><strong>ufo-hunters.com</strong> does not share your email address with third-parties, and is not responsible for the republishing of your contents (reports, pictures, videos, articles, comments) on other web sites.</p>
          </div>
          <div class="modal-footer">
            <button aria-hidden="true" data-dismiss="modal" class="btn">Close</button>
          </div>
        </div>
      </div>

      <div class="span3" class="social">
        <a class="footer-link" href="mailto:ufohunterscom@gmail.com"><i class="icon-envelope social-icon"></i></a>
        <a class="footer-link" href="http://www.facebook.com/UfoHuntersCom" target="_blank"><i class="icon-facebook social-icon"></i></a>
        <a class="footer-link" href="http://twitter.com/UfoHuntersCom" target="_blank"><i class="icon-twitter social-icon"></i></a>
        <a rel="publisher" class="footer-link" href="https://plus.google.com/115233509348028051068" target="_blank"><i class="icon-google-plus social-icon"></i></a>
      </div>

      <div class="span3 span_android"><a href="https://play.google.com/store/apps/details?id=com.ufohunters" rel="publisher" class="link_android1">Android</a><a href="https://play.google.com/store/apps/details?id=com.ufohunters"><%= image_tag image_path('android_white.png') %></a><a href="https://play.google.com/store/apps/details?id=com.ufohunters" rel="publisher" class="link_android2">App</a></div>
    </footer>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40361062-1', 'ufo-hunters.com');
    ga('send', 'pageview');

    </script>

    <div class="postfooter">
      <div class="span12"></div>
    </div>
    <%
    end
    %>
  </div>
</body>
</html>
