<!DOCTYPE html>
<html>
<head>
  <title>UFO Hunters - <%= @page_title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <script src="http://www.openlayers.org/api/OpenLayers.js"></script> 
   <script type="text/javascript">
    $(document).ready(function() {

		// Using default configuration
		$("#mycarousel").carouFredSel({
			width: 850,
			height: 85,
			direction: "left",
			items: {
				visible: 4,
				minimum: 10,
			},
			scroll: {
				items: 1,
				duration: 1000
			},
			auto: 3000			
		});
	}); 
  </script>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "c2c6271b-4fca-45ab-bc2e-6ef06be8e37f", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
</head>
<body onload="init()">
<div id="main">
	<div id="header">
		<div id="banner">
			<div id="welcome">
				<h1>UFO Hunters</h1>
			</div>
			<div id="welcome_slogan">
				<h2>Number of sightings counted <%=@numUFO%>... and growing</h2>
			</div>
		</div>
	</div>
    
	<div id="menubar">
		<ul id="menu"><!--  class="current" -->
			<li <%if @menu.blank? == false && @menu == "index"%>class="current"<% end %>><%= link_to "Home", :controller => "sightings"%></li>
			<li <%if @menu.blank? == false && @menu == "spain"%>class="current"<% end %>><%= link_to "Spain", :controller => "sightings", :action => "spain"%></li>
			<li <%if @menu.blank? == false && @menu == "statistics"%>class="current"<% end %>><%= link_to "Statistics", :controller => "sightings", :action => "statistics"%></li>
			<li <%if @menu.blank? == false && @menu == "maps"%>class="current"<% end %>><%= link_to "Maps", :controller => "sightings", :action => "maps"%></li>
		</ul>
	</div>
			<%= yield %>

	<div id="content_grey">
		  <div class="content_grey_container_box">
				<h4>Latest Blog Post</h4>
				<p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
				<div class="readmore">
					<a href="#">Read more</a>
				</div><!--close readmore-->
		  </div><!--close content_grey_container_box-->
		  
		  <div class="content_grey_container_box">
			   <h4>Latest News</h4>
				<p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
				<div class="readmore">
				  <a href="#">Read more</a>
				</div><!--close readmore-->
		  </div><!--close content_grey_container_box-->
		  
		  <div class="content_grey_container_boxl">
				<h4>Latest Projects</h4>
				<p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
				<div class="readmore">
				  <a href="#">Read more</a>
				</div><!--close readmore-->	  
		  </div><!--close content_grey_container_box1-->  
		  
		  <br style="clear:both"/>
		  
	</div><!--close content_grey-->   
 
	<div id="footer">
		  <a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a> | <a href="http://fotogrph.com/">Images</a> | website template by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a>
	</div>
			
</body>
</html>
