<!DOCTYPE html>
<html>
<head>
  <title>UFO Hunters - <%= @page_title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <script src="http://www.openlayers.org/api/OpenLayers.js"></script> 
   <script type="text/javascript">
    $(document).ready(function() {

		// Using default configuration
		$("#mycarousel").carouFredSel({
			width: 850,
			height: 85,
			direction: "left",
			items: {
				visible: 4,
				minimum: 10,
			},
			scroll: {
				items: 1,
				duration: 1000
			},
			auto: 3000			
		});
	}); 
  </script>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "0f3d2694-bb70-4df6-a2dd-bfc0da82b253", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<link media="screen" type="text/css" rel="stylesheet" href="http://w.sharethis.com/gallery/shareegg/shareegg.css"></link>  
</head>
<body onload="init()">
<div id="main">
	<div id="header">
		<div id="banner">
			<div id="welcome">
				<h1>UFO Hunters</h1>
			</div>
			<div id="welcome_slogan">
				<h2>Number of sightings counted <%=@numUFO%>... and growing</h2>
			</div>
		</div>
	</div>
    
	<div id="menubar">
		<ul id="menu"><!--  class="current" -->
			<li <%if @menu.blank? == false && @menu == "index"%>class="current"<% end %>><%= link_to "Home", :controller => "sightings"%></li>
			<li <%if @menu.blank? == false && @menu == "spain"%>class="current"<% end %>><%= link_to "Spain", :controller => "sightings", :action => "spain"%></li>
			<li <%if @menu.blank? == false && @menu == "statistics"%>class="current"<% end %>><%= link_to "Statistics", :controller => "sightings", :action => "statistics"%></li>
			<li <%if @menu.blank? == false && @menu == "maps"%>class="current"<% end %>><%= link_to "Maps", :controller => "sightings", :action => "maps"%></li>
			<li <%if @menu.blank? == false && @menu == "report"%>class="current"<% end %>><%= link_to "Report a UFO", :controller => "sightings", :action => "report"%></li>
			<li <%if @menu.blank? == false && @menu == "about"%>class="current"<% end %>><%= link_to "About us", :controller => "sightings", :action => "about"%></li>
		</ul>
	</div>
			<%= yield %>

	<div id="content_grey">
		  <div class="content_grey_container_box">
				<h4>Latest Blog Post</h4>
				<p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
				<div class="readmore">
					<a href="#">Read more</a>
				</div><!--close readmore-->
		  </div><!--close content_grey_container_box-->
		  
		  <div class="content_grey_container_box">
			   <h4>Latest News</h4>
				<p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
				<div class="readmore">
				  <a href="#">Read more</a>
				</div><!--close readmore-->
		  </div><!--close content_grey_container_box-->
		  
		  <div class="content_grey_container_boxl">
				<h4>Latest Projects</h4>
				<p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
				<div class="readmore">
				  <a href="#">Read more</a>
				</div><!--close readmore-->	  
		  </div><!--close content_grey_container_box1-->  
		  
		  <br style="clear:both"/>
		  
	</div><!--close content_grey-->   
 
	<div id="footer">
		  <a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a> | <a href="http://fotogrph.com/">Images</a> | website template by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a>
	</div>
	
	
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40361062-1', 'ufo-hunters.com');
  ga('send', 'pageview');

</script>

</body>
</html>
